[2022-08-02 10:33] HomaEEE opened #3351 "Class App\Filament\Resources\RelationManagers\{AnyManager} Not Found"
### Package

filament/filament

### Package Version

v.2.15.7

### Laravel Version

v.9.20

### Livewire Version

_No response_

### PHP Version

PHP 8.1

### Problem description

error after update
Class "[App\Filament\Resources\RelationManagers\ProductsRelationManager](https://flareapp.io/share/17WlnVE5#F18)" not found
But this class was not even created

### Expected behavior

Run service as us

[2022-08-02 10:33] #3351 closed

[2022-08-02 22:28] KiritoXD01 opened #3359 "Unable to access nested documents with Laravel MongoDB"
### Package

filament/filament

### Package Version

v2.15.7

### Laravel Version

v9.22.1

### Livewire Version

_No response_

### PHP Version

8.1.3

### Problem description

Let's use this object as an example

`{"name": "test", "properties": {"id": 9, "effects": [{"name": "effect"}]}}`

When I try to use, for example, the repeater component or try to access a value on the nested array coming

[2022-08-02 22:28] #3359 closed

[2022-08-03 06:16] NathanaelGT opened #3361 "Action submitted before confirmed"
### Package

filament/filament

### Package Version

v2.15.11

### Laravel Version

v9.23.0

### Livewire Version

v2.10.6

### PHP Version

PHP 8.1.2

### Problem description

If we have actions with `->submit(...)`  and `->requiresConfirmation()`, when the action is clicked, it submits before the user confirm

### Expected behavior

it submits after the user confirms

### Steps to reproduce

Clo

[2022-08-03 06:54] danharrin commented on #3361
You need to remove `->submit('save')`

[2022-08-03 06:54] #3361 closed

[2022-08-03 09:40] MarJose123 opened #3364 "Soft Delete Restore Action button on pageview"
### Package

filament/filament

### Package Version

v2

### Laravel Version

v9

### Livewire Version

v2

### PHP Version

v8

### Problem description

Filament\Pages\Actions\RestoreAction::Filament\Pages\Actions\{closure}(): Argument #1 ($record) must be of type Illuminate\Database\Eloquent\Model, null given

![image](https://user-images.githubusercontent.com/18107626/182577491-d5fc76bc-6a76-41

[2022-08-03 13:14] x-ahmed commented on #3191
Hey, here it is a [repo](https://github.com/x-ahmed/file-upload-issue-reproduction/) with steps to reproduce the issue :)

[2022-08-03 15:58] zepfietje commented on #3191
Thanks, @x-ahmed. We will shortly look into your issue!

[2022-08-04 03:31] whoami213 commented on #3364
Hi @danharrin can you check if this something a totally issues on my end only?

[2022-08-04 06:04] danharrin commented on #3364
Yeah, we can have a look if you submit the reproduction repository URL, just edit your original message

[2022-08-04 08:14] ajnsn opened #3372 "Multi-Select relationship query triggered 3 times with preload()"
### Package

filament/forms

### Package Version

v2.15.12

### Laravel Version

v9.19

### Livewire Version

v2.6

### PHP Version

PHP 8.1.8

### Problem description

Its not rather a bug but might be a performance issue as a `relationship()`-query is executed 3 times if you `preload()` the relationship.

We are using various relationships which do not have too many records, e.g. user roles typi

[2022-08-04 08:54] danharrin commented on #3372
I believe that if you use `->options(fn () => Role::pluck('name', 'id'))` it only gets executed once. Correct?

[2022-08-04 08:55] ajnsn commented on #3372
`->options(Role::pluck('name', 'id'))` will also already work.

[2022-08-04 08:59] danharrin commented on #3372
Very odd. What about if you use `relationship()` first and then `options()` on top?

[2022-08-04 09:15] ajnsn commented on #3372
[code]

Thanks Dan, this works fine - instead of `preload()`

[2022-08-04 09:18] ajnsn commented on #3372
fyi, this brings the described multiple queries behaviour back:

[code]

[2022-08-04 10:02] whoami213 commented on #3364
I've update the repo link

[2022-08-04 14:54] sweebee opened #3377 "Problems with DateTimePicker when reactive or lazy"
### Package

filament/forms

### Package Version

v2.15.12

### Laravel Version

v9.23.0

### Livewire Version

v2.10.6

### PHP Version

8.0.20

### Problem description

When you make a DateTimePicker reactive it keeps closing on every action you make in the picker. When you select a date it closes, when you change the hour/minute it closes.

https://user-images.githubusercontent.com/10496485/182

[2022-08-04 14:54] #3377 closed

[2022-08-04 17:19] sweebee opened #3381 "Reactive/lazy not properly working on DateTimePicker"
### Package

filament/forms

### Package Version

v2.15.12

### Laravel Version

v9.23.0

### Livewire Version

v2.10.6

### PHP Version

8.0.20

### Problem description

When you make a DateTimePicker reactive it keeps closing on every action you make in the picker. When you select a date it closes, when you change the hour/minute it closes.

https://user-images.githubusercontent.com/10496485/182

[2022-08-04 18:13] zepfietje commented on #3381
Thanks for the detailed report, @sweebee!

Looking at the changes in the date time picker component, and the version you found, I think it's caused by a9bad2c4d285857769c070adceb3df1625aa563e.

@awcodes, since you implemented that change, do you have any idea about the cause?

[2022-08-04 18:42] awcodes commented on #3381
@zepfietje there were changes after this. The changes in https://github.com/filamentphp/filament/commit/a9bad2c4d285857769c070adceb3df1625aa563e were replaced with the new alpine floating ui directive syntax. I'm not sure why this commit would have broken it.

Dan did do some work on the JS for the date picker before the final implementation of the floating ui directive syntax.

I can do some more

[2022-08-05 14:18] khanakia opened #3395 "Text, md file inside Resource directory throws error"
### Package

filament/filament

### Package Version

2.0

### Laravel Version

9

### Livewire Version

2.10.6

### PHP Version

8

### Problem description

When i have some other files e.g. txt, md inside the resources directory it throws error. It should only include PHP files and ignore all other extensions.

<img width="384" alt="Screenshot 2022-08-05 at 7 48 10 PM" src="https://user-images.gi

[2022-08-06 09:49] khanakia commented on #3395
@danharrin the issue is within in the main repo so there is no need to create a reproduction repo.

All you have to do is create any non-PHP files e.g README.md under `app/Filamnet/Resources` directory. that's all

[2022-08-06 11:26] #3381 closed

[2022-08-06 15:25] #3395 closed

[2022-08-06 16:37] danharrin commented on #2904
Hey @wychoong, could you please test #3407 and let me know if it works well for you. Please test single & multiple uploads, and check the file names get saved correctly in the database.

[2022-08-06 16:41] wychoong commented on #2904
Sure! Will get back to you.

[2022-08-06 17:11] #2939 closed

[2022-08-06 17:11] danharrin commented on #2939
Fixed by #3408.

[2022-08-06 18:01] danharrin commented on #3000
Does #3410 fix your issues?

[2022-08-06 21:38] #3152 closed

[2022-08-06 21:38] danharrin commented on #3152
Fixed by #3413.

[2022-08-06 21:58] danharrin commented on #3372
Investigated this, and you're not gonna like the answer 😂

We pass the options to the `@js` directive, which transforms the array into a JS object.

Livewire overrides the `@js` directive that Laravel includes, as Livewire supported `@js` before Laravel did, and it's a "legacy" thing to support it in old Laravel versions.

Now, unlike Laravel's `@js` that only evaluates the options once, Livewire'

[2022-08-06 21:58] #3372 closed

[2022-08-06 22:14] danharrin commented on #2867
Yes I cannot replicate this, I assume it was fixed by #2999. If it's still an issue in the latest version, please send a bug reproduction repository URL and I will reopen this issue and look into it.

[2022-08-06 22:14] #2867 closed

[2022-08-06 22:14] #3000 closed

[2022-08-06 22:21] danharrin commented on #3042
Hey, I think this is just a Livewire dom-diffing conflict with Alpine unfortunately, but luckily I don't think it affects the functionality of Filament. Thanks for the report.

[2022-08-06 22:21] #3042 closed

[2022-08-07 06:56] sweebee commented on #2969
The timezone must be ignored by the picker if there is no time to select. Or just don't add the timezone attribute when it's a date only field.

[2022-08-07 08:08] ajnsn commented on #3372
Thanks @danharrin for taking the time, good find!

I tested within the peproduction repository. [First](https://github.com/ajnsn/filament-select-test/commit/70314e049521506ddd4d23ded03cb6a35edeb12d) without Livewire's @js registration. I also found this [PR](https://github.com/livewire/livewire/pull/4876) and [applied](https://github.com/ajnsn/filament-select-test/commit/84a240d44087a9e4ff75ebcb1e

[2022-08-07 08:12] danharrin commented on #3372
He is back, but working on Livewire v3, not v2 at all (AFAIK). I'll send him a message next week to give him a nudge to merge the PR. I'd rather not add any technical debt to Filament itself involving fixing the issue our end.

[2022-08-07 11:51] wychoong commented on #2904
hey Dan, i tested this. I got a few issues with this
1) `No property found for validation: [original_filename]`
https://flareapp.io/share/pPvWWx17

dd in `CanBeValidated`
[code]

2) if I set `->storeFileNamesIn('data.original_filename')`, above issue is gone, but my column still empty

this is my schema
[code]

model is setup correctly
[code]

[2022-08-07 15:49] wychoong commented on #2904
I dug further and did following changes

[code]

[code]

do you think it's necessary to test Edit as well? my current resource don't have that, if required I can setup another to test

[2022-08-07 17:12] lucidpolygon opened #3418 "Filter PopOver goes off screen in Mobile devices (sm and small under 450px)"
### Package

filament/tables

### Package Version

2.15.3

### Laravel Version

9.22.1

### Livewire Version

2.10

### PHP Version

8.1.4

### Problem description

On mobile screens, the Popover filter div is going off-screen. Most likely caused by the left margin.

### Expected behavior

The popOver filter must not overflow

### Steps to reproduce

1. Attached is a simple project
2. Connect SQLi

[2022-08-08 07:01] ManojKiranAppathurai opened #3421 "Color Picker loosing the value if used inside the Repeater"
### Package

filament/filament

### Package Version

2.15

### Laravel Version

9.19

### Livewire Version

_No response_

### PHP Version

8.1.1

### Problem description

When I used the color picker inside the `Repeater` component all the previous color picker field that has value is becoming null on adding new item.

### Expected behavior

All the existing state should be maintained across the

[2022-08-08 07:28] danharrin commented on #3421
Does #3402 fix this?

[2022-08-08 08:18] zepfietje commented on #3421
The fix in that PR hasn't been released yet in a new Filament version. Could you set `dev-2.x` as your Filament version in `composer.json` as see if the issue still occurs, @ManojKiranAppathurai?

[2022-08-08 08:24] zepfietje commented on #3421
Whoops sorry, yeah:

[code]

[2022-08-08 08:59] danharrin commented on #3421
Please investigate the issue yourself and provide a PR fix if you can :)

[2022-08-08 10:15] danharrin commented on #2948
Fixed by #3413.

[2022-08-08 10:15] #2948 closed

[2022-08-08 10:48] zepfietje commented on #3048
I've also encountered this issue when toggling columns and then searching the table.

[2022-08-08 12:15] Mello21century opened #3425 "Issue with Laravel modules package"
### Package

filament/filament

### Package Version

2.15.14

### Laravel Version

9.23.0

### Livewire Version

2.6

### PHP Version

8.0.20

### Problem description

Hello,

1- I've installed a fresh Laravel project
2- Installed nWidart/laravel-modules package.
3- Created new module
4- Create an example Resource in app directory
5- Moved it into the module I've just created. renaming namespace t

[2022-08-08 12:16] #3425 closed

[2022-08-08 12:30] danharrin commented on #3425
Hey, I see you did provide reproduction steps, but since these were not in the designated area, the issue was automatically closed. Don't worry about those.

I'm going to convert this to a discussion though, as Filament does not ensure specific support for the Laravel Modules package. I also do not have experience with the package. However, I have seen other people use it with Filament before, so

[2022-08-08 13:54] danharrin commented on #3372
I nudged him as promised, the PR is merged, and should be released shortly.

[2022-08-08 13:59] ajnsn commented on #3372
Thank you !!!

[2022-08-08 15:19] ajnsn commented on #3372
Can confirm that this is fixed by updating Livewire. Thanks again!

[2022-08-08 17:19] danharrin commented on #2904
Hey @wychoong, updated the PR. Can you check again please?

[2022-08-09 07:58] wychoong commented on #2904
Hey @danharrin , i tried the updated PR, it's working now. I taken a look on your latest changes, as usual you make it looks so simple 😂

[2022-08-09 08:55] #2904 closed

[2022-08-09 10:00] danharrin commented on #2568
As there has been no response, I think this was fixed by #3308.

[2022-08-09 10:00] #2568 closed

[2022-08-09 10:03] danharrin commented on #2679
Fixed in the latest version.

[2022-08-09 10:03] #2679 closed

[2022-08-09 10:30] danharrin commented on #3049
Fixed by #3441.

[2022-08-09 10:31] #3049 closed

[2022-08-09 16:32] danharrin commented on #2530
Yeah I don't think this is a bug, if someone wants to PR it as a feature then they're more than welcome. I have no plans to though, so no point keeping this thread open.

[2022-08-09 16:32] #2530 closed

[2022-08-10 05:44] invaders-xx opened #3449 "Modal issue in Page with multiple table with Form's actions"
### Package

filament/filament

### Package Version

v2.15.16

### Laravel Version

v9.23.0

### Livewire Version

v2.10.7

### PHP Version

PHP 8.1

### Problem description

I have a page with multiple Filament's tables:
Here is the code : https://gist.github.com/invaders-xx/1e618f08bda0d6e778f225e288266757

Each table has actions with forms. You will see the issue with modals in the video:

http

[2022-08-10 05:45] #3449 closed

[2022-08-10 06:55] saade opened #3451 "FileUpload does not work unless `->multiple()`"
### Package

filament/filament

### Package Version

v2.15.16

### Laravel Version

v9.24.0

### Livewire Version

v2.10.7

### PHP Version

v8.1.6

### Problem description

`FileUpload` does not work unless being `->multiple()`.

Without being `->multiple()`, the file url gets saved as string on the database, and the component fails to parse the state because it expects a array but a string is pa

[2022-08-10 09:39] zepfietje commented on #3048
@RivnatZille, I can't reproduce the issue anymore (also with your provided repository).

Could you check if the issue still occurs with the latest version of Filament?

[2022-08-10 10:07] danharrin commented on #3048
Maybe it's our new wire:key elements

[2022-08-10 10:09] #3451 closed

[2022-08-10 10:30] zepfietje commented on #3048
That's my thought as well, but not 100% sure.

[2022-08-10 10:33] danharrin commented on #3048
Didn't you experience this issue yourself in your own app?

[2022-08-10 10:40] zepfietje commented on #3048
Uh yeah, I did. 😅 But it was locally so maybe I didn't pull in the right (broken) version today.

[2022-08-10 15:37] innocenzi commented on #3258
Closing this for now because I don't have time yet for a reproduction repository. I'll reopen with a reproduction as soon as I can.

[2022-08-10 15:37] #3258 closed

[2022-08-11 08:06] ManuDoni commented on #1988
I confirm this bug with Filament 2.15.17
When I run the make command with the option `--generate`, the `table` and `form` methods are empty if you have at least one enum column.
I think this should be in the documentation, or maybe we can read enums as strings while generating.

[2022-08-11 08:41] zepfietje commented on #3048
Okay, finally I've been able to reproduce this issue again on the latest version of Filament.

[2022-08-11 09:00] #2835 closed

[2022-08-11 09:26] wychoong commented on #1988
#3476

[2022-08-11 09:30] Valpuia opened #3477 "Filter dropdown and toggle column dropdown in mobile"
### Package

filament/tables

### Package Version

2.0

### Laravel Version

9.19

### Livewire Version

_No response_

### PHP Version

8.1

### Problem description

Table filter and toggleable dropdown not showing properly on mobile view.
![Screenshot from 2022-08-11 14-54-57](https://user-images.githubusercontent.com/28250303/184103534-dc24fb1f-466c-4496-83a6-9a2d4eb8cae9.png)

### Expected beh

[2022-08-11 09:30] #3477 closed

[2022-08-11 09:50] danharrin commented on #3477
Duplicate of #3418

[2022-08-11 13:06] SebastiaanKloos commented on #2957
@zepfietje it's fixed. However there is a new bug. When uploading a file. Then without saving remove it. Then clicking save. The file is still there

[2022-08-11 13:16] zepfietje commented on #2957
That's a duplicate of https://github.com/filamentphp/filament/issues/3191.

Closing this issue, since you mentioned it's fixed.

[2022-08-11 13:16] #2957 closed

[2022-08-11 13:34] zepfietje commented on #3068
This is caused by a bug in Choices.js. I'm working on implementing a workaround.

[2022-08-11 13:58] zepfietje commented on #3068
I'm not sure what's the best way to "watch" the `disabled` state of the element, since Choices.js takes over control after initialization. Any ideas, @danharrin?

[2022-08-11 15:25] danharrin commented on #3068
Here's how we implemented a dynamic min/max for the date picker, using hidden fields. Ugly but works. https://github.com/filamentphp/filament/pull/2314/files#diff-ea8114ac781958e1aea949dc578736fdc36f72f813c7f7395a5fff5a69015f36R36-R37

[2022-08-11 17:17] themahdavi opened #3481 "Markdown editor not show characters correctly on RTL"
### Package

filament/forms

### Package Version

2.15.18

### Laravel Version

9.24

### Livewire Version

2.10.7

### PHP Version

8.1.7

### Problem description

This problem accord when using markdown editor into Grid and RTL base locale
shown like this :
![image](https://user-images.githubusercontent.com/31320104/184193047-45b1d81b-dfc5-4186-9c2f-a0cf6a365996.png)

after testing some changes

[2022-08-11 21:09] zepfietje commented on #3068
But how do you watch changes, @danharrin?

[2022-08-11 21:21] danharrin commented on #3068
Maybe x-model and $watch? Not sure if that would work, we might have to close this as Choices doesnt allow it

[2022-08-11 21:50] zepfietje commented on #3068
Hmm, `x-model` probably won't update if Livewire just replaces the value.

We could add a dummy `input` which has the `disabled` attribute and get that value in a `Livewire.hook('element.updating', () => {})` to call `enable()` or `disable()` on the Choices.js component.

[2022-08-11 22:02] danharrin commented on #3068
but then it would call it every time, that sounds inefficient?

[2022-08-12 07:51] zepfietje commented on #3068
We can check the `el` being updated, and only call `disable()` when it equals the input element. Or do you have general concerns that the hook gets called on every Livewire response that updates an element?

[2022-08-12 08:58] danharrin commented on #3068
the latter, general concerns

[2022-08-12 14:14] danharrin commented on #3068
Yeah I agree, its just a limitation with Choices

[2022-08-12 14:14] #3068 closed

[2022-08-13 13:34] danharrin commented on #2914
Hey, could you check if #3495 fixes this and doesnt introduce more issues?

[2022-08-14 14:12] HeartlandTechie opened #3497 "MultiSelectFilter with Spatie Tags shows all tags regardless of model"
### Package

filament/spatie-laravel-tags-plugin

### Package Version

V2

### Laravel Version

V9

### Livewire Version

v2.0

### PHP Version

PHP 8.1

### Problem description

When you add tags to a model, you can add them with no problem but when you go to do a filter on the tags the filter will display all tags regardless of what your model is.  (IE: A user can have a tag of x or y and a busi

[2022-08-14 14:12] #3497 closed

[2022-08-15 07:34] #2914 closed

[2022-08-16 09:48] HazJ opened #3520 "Unable to set attribute name for any input"
### Package

filament/filament

### Package Version

2.15.18

### Laravel Version

9.24.0

### Livewire Version

2.10.7

### PHP Version

8.1.7

### Problem description

I am unable to set the attribute name on any input. Both of these don't work for me.

[code]

### Expected behavior

I expect the input to use the specified attribute name.

### Steps to reproduce

See the **README** in the reposi

[2022-08-16 19:45] danharrin commented on #3520
Just debugged this, it's just Laravel behaviour I think...

[code]

The `$attribute` is always the name of the raw property where the data is stored, not the custom validation attribute label.

[2022-08-16 19:45] #3520 closed

[2022-08-16 20:06] danharrin commented on #3075
Fixed by #3524.

[2022-08-16 20:06] #3075 closed

[2022-08-16 20:17] danharrin commented on #3481
Chrome-only issue.

[2022-08-16 20:41] #3481 closed

[2022-08-16 20:41] danharrin commented on #3481
Fixed by #3526. Let's see what other issues that change introduces, I can't find other effects of this change.

[2022-08-16 21:19] danharrin commented on #3421
I cannot replicate this issue in the latest Filament verison

https://user-images.githubusercontent.com/41773797/184987137-1adbc16b-5bb7-4a6d-9ce6-0dd5977df4f3.mov

[2022-08-16 21:19] #3421 closed

[2022-08-16 21:29] danharrin commented on #3306
This bug is not present in the latest release of Filament.

[2022-08-16 21:29] #3306 closed

[2022-08-18 06:27] hxnk opened #3543 "Tabbing navigation not working in modals on initial load"
### Package

filament/tables

### Package Version

v2.15.19

### Laravel Version

v9.25.1

### Livewire Version

v2.10.17

### PHP Version

8.1.6

### Problem description

Tabbed navigation in modal forms doesn't work when the modal loads for the first time. When closing the modal and opening it again it works as expected.

### Expected behavior

Tabbed navigation works on initial modal load

###

[2022-08-18 06:30] hxnk commented on #3543
@danharrin Not sure why the bot closed this issue. I chose to add the filament demo repository as reproduction repo, it proves the bug is there.

Can you check please?

[2022-08-18 06:35] danharrin commented on #3543
Yeah, I will reopen manually, thank you for the clarification. It closes the issue when the user fills in a Filament repo as some people are lazy and dont want to reproduce the issue by themselves, and just link to the Filament repo instead of helping is out, even though the issue isnt in the demo :(

[2022-08-18 15:51] michalcharvat opened #3550 "State is not defined - TypeError: Expected one of the following types text|select-one|select-multiple"
### Package

filament/forms

### Package Version

v2.15.19

### Laravel Version

v9.25.1

### Livewire Version

v2.15.19

### PHP Version

PHP 8.1.6

### Problem description

After update to latest forms and laravel version there is the error displaying multiselect fields (and probably any other fields based on select. Before this update there was similar issue with reactive fields which dissapear

[2022-08-18 18:05] maxzod opened #3554 "create page shows 404"
### Package

filament/filament

### Package Version

v2.0

### Laravel Version

9.19

### Livewire Version

2.5

### PHP Version

8.0.2

### Problem description

 ![image](https://user-images.githubusercontent.com/47630729/185463445-cf825397-fce1-4933-bb4e-60b4d5b664fd.png)

### Expected behavior

to work fine with any order its a array

### Steps to reproduce

if i listed the pages in this order

[2022-08-18 18:05] #3554 closed

[2022-08-18 18:21] ralphjsmit commented on #3364
I also experience this issue with the DeleteAction. It's quite serious, since it breaks the Delete buttons in entire applications.

@danharrin I can share a Flare stacktrace if you want.

[2022-08-18 20:35] danharrin commented on #3554
This is because view is a wildcard route, so captures the create request first. It's the behaviour of Laravel's router.

[2022-08-18 20:36] danharrin commented on #3550
I cannot reproduce this, so we will need a reproduction repo as described above to continue. Please edit your original post and the issue should reopen, lmk if not.

[2022-08-18 21:06] michalcharvat commented on #3550
I am looking on it right now. Only what I can say it has something to do with the relationship. When I remove it multiselect is rendered well with all options. I will try create repo over the weekend.

[2022-08-19 06:30] pemudakoding opened #3561 "Repater Forms - Create & Create Another forms"
### Package

filament/forms

### Package Version

v2.0

### Laravel Version

v9.19

### Livewire Version

_No response_

### PHP Version

PHP 8.1

### Problem description

Hi. about the Repeater, I found the issue when creating & create another action, the issue is when the action successfully ran the repeater makes a new one.

Before:
![image](https://user-images.githubusercontent.com/62993054/18

[2022-08-19 06:31] #3561 closed

[2022-08-19 07:37] ManojKiranAppathurai opened #3566 "Using disabled and searchable together in Select field causes issue"
### Package

filament/filament

### Package Version

2.15

### Laravel Version

9.19

### Livewire Version

_No response_

### PHP Version

8.1.1

### Problem description

When I use `searchable` in the select filed with `disabled`  state by default and enable it based on other select filed the disabled filed state doesn't change.

However after removing `searchable` fixes the issue

### Expected

[2022-08-19 08:02] zepfietje commented on #3566
Duplicate of https://github.com/filamentphp/filament/issues/3068.

[2022-08-19 08:02] #3566 closed

[2022-08-19 09:35] ekandreas opened #3567 "Default values gone"
### Package

filament/forms

### Package Version

2.15.19

### Laravel Version

v9

### Livewire Version

v2

### PHP Version

8.1

### Problem description

When upgrading from forms v2.15.18 to 19 all default values to fields are gone.

### Expected behavior

We want the fields to have default values filled.

### Steps to reproduce

Just use default values, via states.

### Reproduction repositor

[2022-08-19 09:35] #3567 closed

[2022-08-19 09:36] ekandreas commented on #3567
You can't be serious?

[2022-08-19 10:08] danharrin commented on #3567
We have tests that cover default values being filled, and we've had no other reports of issues from other users. Thus, we need a reproduction repo. It even says on the issue template, that the issue will be closed if no repo is provided.

[2022-08-19 10:20] Valpuia opened #3569 "Multitenancy is not working"
### Package

filament/filament

### Package Version

v2

### Laravel Version

v9

### Livewire Version

v2

### PHP Version

8.1

### Problem description

I try to use filamentPHP and [stancl/tenancy](https://tenancyforlaravel.com/docs/v3/introduction/). In the documentation it is mention like

doc link [filament multitenancy](https://filamentphp.com/docs/2.x/admin/resources/getting-started#stancl

[2022-08-19 10:58] zepfietje commented on #3569
@Valpuia, make sure to properly set up access to the admin panel: https://filamentphp.com/docs/2.x/admin/users#authorizing-access-to-the-admin-panel.

[2022-08-19 11:00] #3569 closed

[2022-08-19 11:20] bernhardh opened #3570 "Upgrade to v2.15.19 breaks spatie settings plugin with casted attributes"
### Package

filament/spatie-laravel-settings-plugin

### Package Version

v2.15.19

### Laravel Version

v9.25.1

### Livewire Version

v2.10.7

### PHP Version

8.1.9

### Problem description

I am using the spatie-settings plugin with casted attributes, just as described in the spatie docs and it works outside the admin without any problems and it was working in filament till incl. `v2.15.18`.

[2022-08-19 11:22] ekandreas commented on #3567
Well then I have to setup a specific repo for you 👎
afterStateHydrated doesn't work as expected in version 2.15.19. Everything regarding afterStateHydrated is fine in 2.15.18.

[2022-08-19 11:23] Valpuia commented on #3569
Hi @zepfietje as per your comment I change the filament user in User model and tenant cannot access admin anymore. but it does not solve the problem no 1. If I put `InitializeTenancyByDomain::class` in `config/filament.php` and on the central domain it is given `Tenant could not be identified on domain localhost`

[2022-08-19 11:52] zepfietje commented on #3569
@Valpuia, are you sure this is an issue with Filament? It sounds like a problem with the tenancy package.

[2022-08-19 12:02] ekandreas commented on #3570
Great! I can also confirm this issue not being trusted in previous posting.

[2022-08-19 12:10] danharrin commented on #3567
Yes, you have to set up a repo for us, so we can help you. For free 🙂

[2022-08-19 14:44] zepfietje commented on #3418
This is most probably caused by Alpine Floating UI. I'm reworking dropdowns in #3443 and have briefly looked into this already.

I think we can close this issue, since it will definitely be tested (and thus fixed) before that PR is merged, @danharrin?

[2022-08-19 14:53] Muffinman opened #3575 "Searchable field inside Repeater Closure fields causes JS errors"
### Package

filament/forms

### Package Version

2.15.19

### Laravel Version

9.20

### Livewire Version

_No response_

### PHP Version

8.1.9

### Problem description

When adding a `searchable()` input inside a  `schema()` callback `\Closure`, it can cause javascript errors and some general weird behaviour.

On the JS console we see errors like:

[code]

It also seems to fail to send the fiel

[2022-08-19 15:57] danharrin commented on #3418
We'll just link the PR

[2022-08-19 20:23] anatolyeltsov opened #3578 "Unnecessary queries on list page"
### Package

filament/filament

### Package Version

v2.15.20

### Laravel Version

v9.3.4

### Livewire Version

_No response_

### PHP Version

PHP 8.1.8

### Problem description

Unnecessary queries. That wasn't the case at least on version 2.15.11.

### Expected behavior

No unnecessary queries.

### Steps to reproduce

Noticed it in my project and reproduced on clean install:

1. Install late

[2022-08-19 21:13] raphael-evolutap commented on #3578
i'm having this problem too

[2022-08-20 07:23] cognopatrick opened #3581 "Association belongsTo ->getLocalKeyName() function is removed from laravel 9"
### Package

filament/tables

### Package Version

v2.15.20

### Laravel Version

v9.25.1

### Livewire Version

v2.10.7

### PHP Version

PHP 8.1.9

### Problem description

When trying to a associate a new belongsTo relation (provided by the relationmanager) you get a "search modal" to find the relation.
![image](https://user-images.githubusercontent.com/9436968/185733568-569ef1fe-a3f7-4380-8df8

[2022-08-20 07:29] cognopatrick commented on #3581
@danharrin i provided the repository but i use bitbucket so the github actions automatically closed my bug report. Is it possible to look in to this?

[2022-08-20 07:32] danharrin commented on #3581
👍

[2022-08-20 11:42] yob-yob opened #3585 "Multiple Duplicate Query when using the Tables\Actions\EditAction::make(),"
### Package

filament/filament

### Package Version

v2.15.19

### Laravel Version

v9.25.1

### Livewire Version

v2.10.7

### PHP Version

^8.0

### Problem description

there are multiple duplicate queries recorded by Laravel/Telescope when using `Tables\Actions\EditAction::make()` on any resource.

if resource is for the model `User::class` a query of `select * from `users` where `users`.`id`

[2022-08-20 11:43] yob-yob commented on #3585
Closed: Duplicate of #3578

[2022-08-20 11:43] #3585 closed

[2022-08-20 14:09] #3364 closed

[2022-08-20 14:09] danharrin commented on #3364
Fixed by #3587.

[2022-08-20 15:12] danharrin commented on #3567
Out of pure interest, I tried using `default()` and `afterStateHydrated()` myself, as well as checking that our tests are passing. I discovered no issues.

You have provided no other reproduction information apart from "all default values to fields are gone", which really isn't useful to us? Even if you did still omit the reproduction URL, we wouldn't be able to help you

[2022-08-20 18:55] danharrin commented on #3581
Hey! Unfortunately this is a little misunderstanding. Relation managers handle multiple relationships, not just 1. So you need a TargetsRelationManager on the team resource, not a TeamRelationManager, because it needs to read and write to a HasMany relationship, not BelongsTo.

The alternative in this case is using a Select component with the `relationship()` method to associate a team, and even `

[2022-08-20 18:55] #3581 closed

[2022-08-20 19:32] danharrin commented on #3570
Fixed by 8453d71d9c3f06a1c403dff706b7b3a563484fa0.

[2022-08-20 19:32] #3570 closed

[2022-08-20 20:36] #3578 closed

[2022-08-20 20:36] danharrin commented on #3578
Thanks, fixed by #3592.

[2022-08-20 20:43] danharrin commented on #3575
This is because there is no Livewire property associated with these select fields when the form is first loaded, since there is no `$type` selected.

So you must add some extra code to the type field to add these properties to the form state, so they aren't missing:

[code]

This ensures that at all times when each select is visible, there is a Livewire property associated with the field. So the c

[2022-08-20 20:43] #3575 closed

[2022-08-20 21:07] danharrin commented on #3191
Hello, fixed this in #3593. Unfortunately, your proposed solution breaks multi-file uploads, as it completely resets the state of the field.

[2022-08-20 21:07] #3191 closed

[2022-08-21 08:41] cognopatrick commented on #3581
@danharrin thanks a lot, i completely misunderstood.

[2022-08-21 12:06] ekandreas commented on #3567
I will come back to you with a repo that reproduces the issue. But it will take me some days.

[2022-08-21 17:59] danharrin commented on #3543
I've got no clue why this happens, I have looked into it. Have you looked into it?

[2022-08-21 19:46] hxnk commented on #3543
@danharrin I hadn't looked at it yet, but I just did, and it's fixed in #3604, but don't ask me why :grin:

[2022-08-21 20:28] #3543 closed

[2022-08-21 20:28] danharrin commented on #3543
Wow, I would never have thought of that lol

[2022-08-22 07:51] Muffinman commented on #3575
Thanks so much. That didn't seem to change anything for me, but I think I understand what you're getting at - I'll keep looking!

[2022-08-22 14:37] zepfietje commented on #3048
Having a really hard time reproducing this issue at the moment. Maybe it actually is fixed now. Since @RivnatZille hasn't replied, we could close this issue until someone (like me) runs into it again, @danharrin?

[2022-08-22 14:48] RivnatZille commented on #3048
Hi everyone!

Sorry I didn't answer earlier, I've been very busy working on another project, so I didn't had the time to test it out for these past weeks.
I'll update Filament and try it out as soon as I can.

Thanks for taking a look at it!

[2022-08-22 14:59] egyjs opened #3613 "[CSS Issue] dark mode not working as expacted"
### Package

filament/filament

### Package Version

v2.14.22

### Laravel Version

v9.25.1

### Livewire Version

_No response_

### PHP Version

V8.1

### Problem description

i have a multi select component
its working well in light mode, but in dark mode it's not

### Expected behavior

in light mode:
![image](https://user-images.githubusercontent.com/12745270/185952638-631d75e7-4559-4c31-8a6d

[2022-08-22 14:59] #3613 closed

[2022-08-22 15:42] zepfietje commented on #3048
No problem, @RivnatZille.
Let us know if you run into the problem again, then we'll reopen the issue.
Will close it for now as I'm no longer experiencing the bug.

[2022-08-22 16:31] danharrin commented on #3613
Your custom Tailwind color palette has contrasting issues I think

[2022-08-23 14:33] gotroch opened #3630 "MorphToMany relationship doesn't populate form"
### Package

filament/forms

### Package Version

2.15.23

### Laravel Version

v9.25.1

### Livewire Version

v2.10.7

### PHP Version

PHP 8.1.9

### Problem description

Multi select with morphToMany relationship is not being populated by stored values.

Selecting and storing values works fine as expected.

### Expected behavior

Multi select shows titles of stored relationships.

### Steps to

[2022-08-23 15:46] gotroch commented on #3630
Oops! My fault. `getFormModel()` must return a model. String only for creation.

[2022-08-23 15:46] #3630 closed

[2022-08-24 03:32] cobraprojects opened #3637 "mutateFormDataBeforeSave doesn't work on ManageRecords"
### Package

filament/filament

### Package Version

v2.15.24

### Laravel Version

v9.26.1

### Livewire Version

v2

### PHP Version

PHP 8.1

### Problem description

`mutateFormDataBeforeSave` doesn't work on ManageRecords

I created a simple resource
add `mutateFormDataBeforeSave`  to `Pages/ManageResource.php`

[code]

it doesn't work

### Expected behavior

on save it should use the same Ed

[2022-08-24 05:21] danharrin commented on #3637
Hello! Thats because the mutate* functions exist on specific page classes like Edit, not resources classes in general.

In this case, since you just have a List/Manage page, you can use actions to customise this - https://filamentphp.com/docs/2.x/admin/resources/listing-records#customizing-data-before-saving-1

[2022-08-24 05:21] #3637 closed

[2022-08-24 06:48] datlechin opened #3641 "Hide Delete option on Soft Deleted filter"
### Package

filament/tables

### Package Version

v2.0

### Laravel Version

v9.26

### Livewire Version

_No response_

### PHP Version

PHP 8.0

### Problem description

Currently, the `Delete selected` option on `Only eleted records` filter is display.

![image](https://user-images.githubusercontent.com/56961917/186349535-f8fff74a-eb65-439a-978b-fd1b6430a39a.png)

### Expected behavior

We onl

[2022-08-24 12:21] Eighke opened #3647 "MultiSelectFilter break on L8.x"
### Package

filament/tables

### Package Version

v2.15.24

### Laravel Version

v8.83.23

### Livewire Version

_No response_

### PHP Version

PHP 8.1

### Problem description

Following the implementation of the [Filter indicators](https://github.com/filamentphp/filament/pull/3599/) MultiSelectFilter are broken when using Laravel 8.

Simple reason: `Arr:join` doesn't exists on Laravel 8, it's

[2022-08-24 12:35] danharrin commented on #3647
Whoops! Will fix this.

[2022-08-24 12:38] danharrin commented on #3647
2b8703b8468911c3f56e8b661e0c2b3c0f296b16

[2022-08-24 12:38] #3647 closed

[2022-08-24 13:16] tanthammar commented on #2398
#3649

[2022-08-24 13:43] Frameck opened #3650 "DatePicker doesn't reset to null"
### Package

filament/forms

### Package Version

v2.15.18

### Laravel Version

v8.83.23

### Livewire Version

v2.10.7

### PHP Version

PHP 8.0.21

### Problem description

When the user check a toggle i need to set a DatePicker to the current date (this works), but the opposite doesn't, so when the toggle is unchecked the DatePicker wont't reset to null.

### Expected behavior

The DatePicker

[2022-08-24 14:50] #2398 closed

[2022-08-25 07:06] jojostx opened #3665 "Javascript error occurs after an action that displays a modal is run and the modal closes."
### Package

filament/filament

### Package Version

^2.13

### Laravel Version

v9.11.0

### Livewire Version

v2.5

### PHP Version

PHP 8.0

### Problem description

After an action that requires confirmation or displays a modal is run, and the modal closes, a javascript error occurs:

`
Alpine: Cannot reference "$wire" outside a Livewire component.
`
`
Uncaught TypeError: wireEl is null
`

###

[2022-08-25 08:33] sawirricardo opened #3667 "Image Column ->extraImgAttributes() doesnt add class attribute"
### Package

filament/tables

### Package Version

v2.15.23

### Laravel Version

v9.25.1

### Livewire Version

v2.10

### PHP Version

PHP 8.1.9

### Problem description

I put on `->extraImgAttributes(['class' => 'some class'])` in the SpatieMediaLibraryColumn, specifically ImageColumn, however, it doesnt output the class

problems may be due to an existing @class([]), which havent yet consider

[2022-08-25 13:02] #3667 closed

[2022-08-25 13:02] danharrin commented on #3667
Fixed by #3670.

[2022-08-25 14:49] martingrondein-nls opened #3671 "Forms - Select::make ->getSearchResultsUsing not working correctly"
### Package

filament/forms

### Package Version

v2.15.23

### Laravel Version

v9.25.1

### Livewire Version

_No response_

### PHP Version

PHP 8.1.9

### Problem description

Using ```->getSearchResultsUsing```  as per the docs found here: [https://filamentphp.com/docs/2.x/forms/fields#select
](https://filamentphp.com/docs/2.x/forms/fields#select)

The field is not properly or correctly popul

[2022-08-25 14:49] #3671 closed

[2022-08-25 15:16] Wit3 opened #3673 "Sending multiple notifications at once only shows first "
### Package

filament/notifications

### Package Version

v2.15.24

### Laravel Version

v9.26.1

### Livewire Version

v2.10.7

### PHP Version

v8.1.8

### Problem description

i don't know why, but when multiple notification were sent, in my case triggered by event listener in livewire component,
one ( or many ) of this is hidden and show ( alpinejs property ).
Unfortunally the property visibil

[2022-08-25 15:25] flyingeek opened #3674 "close icon in filter indicator does not work if filter is created using default()"
### Package

filament/tables

### Package Version

v2.15.26

### Laravel Version

v9.26.1

### Livewire Version

_No response_

### PHP Version

PHP 8.1.8

### Problem description

When a filter is marked as default, you can deselect the filter from the filter popup but not using the close icon in the indicator.
![Image 2022-08-25 at 3 29 29 PM](https://user-images.githubusercontent.com/68456/1866

[2022-08-25 15:29] danharrin commented on #3674
Hey, this was fixed by #3669, but it's not been released yet

[2022-08-25 15:29] #3674 closed

[2022-08-25 15:34] martingrondein-nls commented on #3671
Never mind, I was able to resolve this by using the Select->options

My final code fixed the issue and is now dynamic as desired

[code]

[2022-08-25 15:39] flyingeek commented on #3674
You are too quick !
Anyway I made a nice repo template for my first report. You should link to something similar for reporting bugs in the future.

[2022-08-25 16:16] yaplej opened #3676 "Repeater using nested relationship does not update related data"
### Package

filament/filament

### Package Version

v2.15.26

### Laravel Version

v9.7.0

### Livewire Version

v2.3

### PHP Version

PHP 8.1.4

### Problem description

When using a Repeater with a relationship to another Model that has another relationship to another Model the data does not save when making changes inside the Repeater Form to the related Model.

The data loads correctly from

[2022-08-25 22:29] byjujohn commented on #3665
@jojostx Seems like if you edit a record this occurs too.

<img width="1679" alt="image" src="https://user-images.githubusercontent.com/1469621/186779542-d0993e47-63f2-49ff-83df-3c1786dec006.png">

This is happening on a project I am working on as well, in a similar case where a popup modal is shown on the RelationsManager.

Thanks

[2022-08-25 22:48] zepfietje commented on #3673
Reopening as the bug is still present.

[2022-08-26 03:00] jojostx commented on #3665
@byjujohn I suspect it has to do with the way the modal is closed after an action is dispatch,

[2022-08-26 10:29] Sheldon-Knight commented on #3520
had a similar problem  then saw that my lang en file was missing for some reason so i created a new project paste that files back and it worked

[2022-08-26 10:31] Sheldon-Knight commented on #3520
move you lang en file inside resources

[2022-08-26 14:40] yaplej opened #3692 "Dynamically Enabling MarkdownEditor does not work."
### Package

filament/filament

### Package Version

v2.15.26

### Laravel Version

v9.7.0

### Livewire Version

v2.3

### PHP Version

PHP 8.1.4

### Problem description

When dynamically disabling & enabling a MarkdownEditor the components, buttons, textbox do not become active when its dynamically enabled.

### Expected behavior

It should behave like the RichEditor.

### Steps to reproduce

M

[2022-08-26 15:22] #3673 closed

[2022-08-26 17:52] danharrin commented on #3676
Hi, I've just downloaded your repo

https://user-images.githubusercontent.com/41773797/186963280-1b88618b-dcf0-4d84-94a9-8f9cfd8410c8.mov

All the data seems to be saved?

Please provide exact instructions on what I need to do to replicate this issue with your repo.

[2022-08-26 20:45] yaplej commented on #3676
Now you need to change one of them.

[2022-08-27 07:53] ariaieboy opened #3704 "Notification throws 500 error on admin panel"
### Package

filament/notifications

### Package Version

v2.15.28

### Laravel Version

v9.26.1

### Livewire Version

v2.10.6

### PHP Version

8.1.9

### Problem description

In the filament admin panel when I save a new record or save an edited record the page will show me the saved notification for less than a second and after that, this error appears on my screen.
![image](https://user-image

[2022-08-27 11:38] utsavsomaiya opened #3707 "When create multi select new option `TypeError: Cannot read properties of null (reading '__livewire')` occur."
### Package

filament/filament

### Package Version

v2.0.0

### Laravel Version

v9.26.1

### Livewire Version

v2.10

### PHP Version

PHP 8.1.0

### Problem description

![image](https://user-images.githubusercontent.com/96036522/187027869-56196be0-37a6-475e-a2cd-3c7d53112c3d.png)

Hello!!
I am using the filament admin panel.
When I am using this code :point_down:
[code]

And here is my reposit

[2022-08-27 18:00] happytodev opened #3710 "Preflight of Tailwind take precedence on background-color of input field"
### Package

filament/forms

### Package Version

v2.15.28

### Laravel Version

v9.26.1

### Livewire Version

v2.10.7

### PHP Version

PHP 8.1

### Problem description

I have something weird with Tailwind. First of all, all my classes are correctly generated and accessible.
In a button, I affect a background color.
But, the preflight of Tailwind :

[code]

takes precedence on my `bg-red-300` f

[2022-08-27 18:23] zepfietje commented on #3704
I can't reproduce this issue in a fresh Laravel + Filament app.

However, I do get the exception in your reproduction repository.
It seems that somehow the `notificationClosed` Livewire event gets emitted right away when the notification is shown. Also, it passes `null` as the `id`.

Still no idea why this only occurs in some projects, but I'll dive in deeper.

[2022-08-27 18:29] zepfietje commented on #3704
Inside `notification.js` the `notification.duration` is `undefined`, which leads to the `close()` method being called right away instead of after a timeout.

[2022-08-27 19:25] ariaieboy commented on #3704
Yes, I tried the fresh install and it's ok.
I have a project in development that has this problem and the repo that I published is a small fork from that project.

the `notification.duration` is `undefined` but that's one problem. the other problem is that it send 2 `notificationClosed` event and because we only have 1 notification the second request will send `null` as `id` and it will throw 500

[2022-08-27 19:43] awcodes commented on #3704
Livewire is being required by the root composer package and is locked at 2.10.6. Remove that from you root composer.json file then run composer update.

[2022-08-27 21:25] danharrin commented on #3704
Is this really a Livewire issue, wow

[2022-08-27 21:34] awcodes commented on #3704
Probably because it was two different versions. I didn’t test it but my hunch is that if they were on the same version this wouldn’t have been an issue.  Or there’s a bug in the @js directive with the version of livewire this example was locked to.

[2022-08-27 21:44] ariaieboy commented on #3704
thanks, @awcodes I've updated the livewire and the problem is solved.

I think @danharrin should lock the minimum livewire version to 2.10.7 in filament composer.

I am going to close this issue.

[2022-08-27 21:44] #3704 closed

[2022-08-27 22:09] zepfietje commented on #3704
I think changing the required Livewire version for Filament would be kind of a breaking change, right?

[2022-08-27 22:19] zepfietje commented on #3704
Yeah so this issue is caused by `@js`.

Recently, a fix was merged into Livewire to use the `@js` directive from Laravel instead of the one provided by Livewire if it's available in the user's Laravel version: https://github.com/livewire/livewire/pull/4876.

Previously, `@js` wouldn't work in some places and we had to use `{{ Js::from() }}` instead.
After that PR got merged, I updated the Filament

[2022-08-27 22:31] awcodes commented on #3704
Personally I would do it as Js:from() since v3 is so close and people will have to update their livewire anyway.

[2022-08-27 22:31] awcodes commented on #3704
Seems really weird that this was a patch release in livewire though.

[2022-08-27 22:35] luilliarcec opened #3713 "Filament does not discover resources since version 2.15.16"
### Package

filament/filament

### Package Version

v2.15.28

### Laravel Version

v9.26.1

### Livewire Version

_No response_

### PHP Version

PHP 8.1

### Problem description

Resources disappeared from my panel.

### Expected behavior

What did you expect to happen instead?

### Steps to reproduce

Well, I had my resources previously created from version 2.14.* and when I did composer update

[2022-08-27 22:40] danharrin commented on #3713
Reopening, our bot only checks GitHub repositories at this time

[2022-08-27 22:43] zepfietje commented on #3704
Fair enough, will do a quick PR.

@danharrin, could you add to our v3 roadmap that we should migrate `{{ Js::from() }}` to `@js()` where possible?

[2022-08-28 00:11] luilliarcec commented on #3713
Moving `Filament::registerUserMenuItems()` to the `boot` method instead of `register` fixed the problems.

[2022-08-28 00:11] #3713 closed

[2022-08-28 11:23] danharrin commented on #3713
Cool, please make sure that you only bind to the Laravel container in `register()`, as per Laravel guidelines

https://laravel.com/docs/9.x/providers#the-register-method

[2022-08-28 11:24] danharrin commented on #3704
I don't see why we would ever need to use `Js::from()` if we just bump the Livewire version?

[2022-08-28 11:46] zepfietje commented on #3704
Wouldn't that result in issue with existing installs where people have pinned their Livewire version?

[2022-08-28 11:49] danharrin commented on #3704
I'm sorry, but we really can't protect people who choose to do that. It's gonna cause other issues apart from this one.

[2022-08-28 11:50] zepfietje commented on #3704
Agree, I'd say bump the Livewire version.

[2022-08-28 11:57] danharrin commented on #3704
Can you fix that in your PR then? Please bump the version inside each package `composer.json`, not just the main `composer.json`

[2022-08-28 12:11] zepfietje commented on #3704
Done! https://github.com/filamentphp/filament/pull/3714

[2022-08-29 11:57] amsnvc opened #3734 "Can't submit a modal form consisting of only ``Placeholder::make()``"
### Package

filament/filament

### Package Version

v2.15.19

### Laravel Version

v9.25.1

### Livewire Version

_No response_

### PHP Version

PHP 8.1

### Problem description

I have a dashboard widget that has a modal action. Inside of the modal, I wanted to display the information of the record.
[code]

The form shows up correctly, When I confirm the action, this error message appears:

![g

[2022-08-29 11:57] #3734 closed

[2022-08-29 12:04] amsnvc opened #3735 "Can't submit a modal form consisting of only ``Placeholder::make()``"
### Package

filament/filament

### Package Version

v2.15.19

### Laravel Version

v9.25.1

### Livewire Version

_No response_

### PHP Version

PHP 8.1

### Problem description

I have a dashboard widget that has a modal action. Inside of the modal, I wanted to display the information of the record.
[code]

The form shows up correctly, When I confirm the action, this error message appears:

![g

[2022-08-29 19:51] ceesvanegmond opened #3744 "FilamentManager too strict on type hinting"
### Package

filament/filament

### Package Version

v2.15.29

### Laravel Version

v9.26.1

### Livewire Version

_No response_

### PHP Version

PHP 8.1

### Problem description

Today, i've tried Filament for the first time. So far so good!
We actually have an centralized system for user management. That means that all colleagues of our company are allowed to login with their own 'internal logi

[2022-08-29 19:52] #3744 closed

[2022-08-29 22:12] danharrin commented on #3744
Commented on the PR

[2022-08-30 11:13] pxlrbt commented on #3710
Sorry, we had to roll this back, since it was causing too many issues. We will address this with v3 again,

[2022-08-30 11:15] awcodes commented on #3710
No worries. I understand.

[2022-08-30 11:48] #3735 closed

[2022-08-30 11:48] danharrin commented on #3735
Fixed by #3753.

[2022-08-30 12:14] zepfietje commented on #3710
Should we leave this issue open or close it, @pxlrbt?

[2022-08-30 12:47] pxlrbt commented on #3710
It's still an issue, so I'd say leave it open, until we fix it with V3.

[2022-08-30 13:43] RivnatZille commented on #3048
Hey guys!
First of all, thanks for all the replies on the issue.
I was finally able test out the Filament project, and even with Filament's v2.15.32 version, I'm still able to reproduce the looping requisitions bug.
I've followed the same steps as before, by toggling on some columns that are hidden by default, and right after that filtering by any random column.
As soon as the table was filtered,

[2022-08-30 16:04] zepfietje commented on #3048
Hmm, was that with your reproduction repository you posted here?

I had difficulty reproducing the issue in my own project, but will reopen this issue if you're still experiencing it! 👍

[2022-08-30 16:34] RivnatZille commented on #3048
Yes, I was able to reproduce it with the repository that I've posted.

Thanks for reopening the issue!

[2022-08-30 21:01] #3418 closed

[2022-08-30 21:06] danharrin commented on #3418
Fixed by #3443

[2022-08-31 05:33] ksassnowski opened #3769 "User dropdown does not close anymore"
### Package

filament/filament

### Package Version

v2.15.34

### Laravel Version

v9.27.0

### Livewire Version

_No response_

### PHP Version

8.1

### Problem description

The 2.15.34 release of Filament introduced a visual bug that causes the user menu dropdown in the admin panel to always be open. Clicking on the user avatar positions the dropdown correctly, but you're still unable to close

[2022-08-31 05:45] mohameedsherif commented on #3769
Same issue here

[2022-08-31 05:55] invaders-xx commented on #3769
There's a discussion opened on Discord and it's a known issue. Please revert to 2.15.33 until issue solved by maintainers

[2022-08-31 06:36] danharrin commented on #3769
We are very sorry for the inconvenience here. I just released a new version.

I pulled down PR #3443, checked it out locally, and it was all fine. Then for some reason it was broken when it got released. Maybe there was some cache in my dummy app that was still showing me the old version or something.

Should all be sorted now, we will investigate what happened.

[2022-08-31 06:36] #3769 closed

[2022-08-31 07:31] mahfoudfx opened #3772 "Support for Spatie translation plugin in Modals"
### Package

filament/filament

### Package Version

v2.15.33

### Laravel Version

v9.27.0

### Livewire Version

v2.10.7

### PHP Version

PHP 8.1.9

### Problem description

Using Spatie Translation Plugin, Filament Admin is not able to show data correctly in modals, even for edit/view. The create insert data correctly with used locale.

Modal View
![image](https://user-images.githubusercontent

[2022-08-31 07:51] danharrin commented on #3772
Hey, this is not an issue, we just haven't added support for this at the current time. From what I understand, Livewire v3 will make this feature possible.

[2022-08-31 07:51] #3772 closed

[2022-08-31 08:46] mahfoudfx commented on #3772
Sorry, I didn't found any mention of this detail, or maybe I missed it.
BTW, is it possible to have a workaround for example for `Edit action` using [Lifecycle hooks](https://filamentphp.com/docs/2.x/admin/resources/listing-records#lifecycle-hooks-1), with the method `beforeFormFilled()` ?

[code]

[2022-08-31 09:20] danharrin commented on #3772
Whats the use case?

[2022-08-31 09:45] G3z opened #3777 "ERROT when changing using "/" or "" as FILAMENT_PATH"
### Package

filament/filament

### Package Version

v2.15.35

### Laravel Version

v9.27.0

### Livewire Version

v2.10.7

### PHP Version

PHP 8.1.9

### Problem description

When changing `filament.path` to "" or "/" the route `filament.pages.dashboard` is not created leading to errors after the firt login

before setting `filament.path` as ""
[code]
after setting `filament.path` as ""
[code]

[2022-08-31 10:26] zepfietje commented on #3777
This is not a Filament bug. You've got a route registered for `/` in your `routes/web.php` file. If you remove that route, everything works just as expected.

[2022-08-31 10:26] #3777 closed

[2022-08-31 10:27] G3z commented on #3777
oh, this is embarrassing, sorry 🙇🏼‍♂️

[2022-08-31 10:56] mahfoudfx commented on #3772
To display the translation in Edit modal, using [Spatie Translatable](https://spatie.be/docs/laravel-translatable/v6/basic-usage/getting-and-settings-translations#content-getting-a-translation). Something like :

[code]

[2022-08-31 13:35] tiagof opened #3785 "MultiSelect disabled() is not "dynamic""
### Package

filament/forms

### Package Version

v2.15.20

### Laravel Version

v9.25.1

### Livewire Version

_No response_

### PHP Version

PHP 8.1

### Problem description

MultiSelect `->disabled()` does not work as expected when a closure is passed to determine its disabled status.

### Expected behaviour

The same behaviour as the non-multiple `Select`

### Steps to reproduce

Create this

[2022-08-31 13:42] zepfietje commented on #3785
Duplicate of https://github.com/filamentphp/filament/issues/3068 and https://github.com/filamentphp/filament/issues/3566.

[2022-08-31 13:43] #3785 closed

[2022-08-31 15:45] saade commented on #3710
maybe add a v3 label?

[2022-08-31 20:03] aymanalareqi opened #3793 "Toggle Column drop take full width"
### Package

filament/tables

### Package Version

v2.15.38

### Laravel Version

v9.27.0

### Livewire Version

v2.3

### PHP Version

PHP 8.1.4

### Problem description

when I open toggle column drop down it opened in full width like this
![ToggleIssue](https://user-images.githubusercontent.com/77433449/187770764-4400f53b-1c86-4a3a-972f-88445e251b46.PNG)

### Expected behavior

toggle column dr

[2022-08-31 20:03] #3793 closed

[2022-08-31 22:24] byjujohn commented on #3707
Same issue referenced here  #3665

[2022-08-31 23:53] craigkuhns opened #3794 "Table not updated when filter is removed via the filter indicator"
### Package

filament/filament

### Package Version

v2.15.38

### Laravel Version

v9.27.0

### Livewire Version

_No response_

### PHP Version

PHP 8.0.14

### Problem description

I have a users model with a boolean 'confirmed' field and I've created a filament resource for it. I added this filter to the table in the UsersResource

[code]

I enable the filter and the table updates as expected

[2022-09-01 03:54] craigkuhns commented on #3794
I dug around a bit and this is what I found. The default state for the checkbox form component is false. So on line 87 of packages/tables/src/Concerns/HasFilters.php when it resets the value, it should be reset too false but instead it is set explicitly to null. Changing line 87  from

[code]
to
[code]
fixes that issue by resetting the state to the fields default state.

But that alone doesn't fix

[2022-09-01 07:39] danharrin commented on #3707
Duplicate of #3665.

[2022-09-01 07:39] #3707 closed

[2022-09-01 07:56] zepfietje commented on #3794
Thanks for looking further into the issue, @craigkuhns!

Like you said, I'd suggest opening a PR so we can test and discuss the changes more thoroughly. 👍

[2022-09-01 15:17] awcodes commented on #3665
This looks like a scoping issue or a bug in Alpine.

Apparently, $wire is not defined inside $watch as it is not declared on `this`.

This fixes the issue and I'm happy to do a PR for this, but something doesn't feel right about it. Any thoughts @zepfietje @danharrin

[code]

[2022-09-01 15:57] lucidpolygon opened #3807 "Generate Resource - Toggle has MaxLength Error"
### Package

filament/filament

### Package Version

2.0

### Laravel Version

9.19

### Livewire Version

2.1

### PHP Version

8.0.2

### Problem description

- If a model has a boolean field and you generate a resource
- The boolean filed throws attached error
<img width="1281" alt="Screen Shot 2022-09-01 at 10 42 26 AM" src="https://user-images.githubusercontent.com/40432572/187958856-5c554117

[2022-09-01 16:19] zepfietje commented on #3665
I've had a similar issue with `$wire` being undefined when closing notifications. That's why I updated that to `Livewire.emit()`.

However, for this case that wouldn't work. Your fix may be kind of a dirty fix, but if it works... Not sure if this issue got introduced just recently and is a regression, or really a bug with Alpine?

[2022-09-01 16:29] zepfietje commented on #3807
So, if you remove the non-existent `maxLengt()` method, it all works.

[2022-09-01 16:30] danharrin commented on #3807
@zepfietje the issue is that maxLength() should only be generated for TextInput and Textarea fields.

[2022-09-01 16:32] craigkuhns commented on #3794
Thanks, I created a pull request that should fix the issue.

[2022-09-01 16:36] zepfietje commented on #3807
Oh, I read the description but missed that the resource generation by Filament is the part it's all about, sorry!

[2022-09-01 16:49] awcodes commented on #3665
This has to be something in Alpine. $wire is available outside of $watch.

[2022-09-01 16:50] zepfietje commented on #3665
@danharrin mentioned he had a potential fix ready locally. Let's see what he'll PR.

[2022-09-01 17:13] danharrin commented on #3665
@awcodes I submitted PR #3810 which completely removes that code. It was originally added to allow people to customize their action forms based on Create or Edit, but it never worked properly as some actions use `mountedAction` and some use `mountedTableAction`. I don't see any reason for people to manually check the `$this->mountedAction` when we have `$context` now.

[2022-09-01 17:18] danharrin commented on #3665
But potentially it is a breaking change if we remove it...

[2022-09-01 18:11] danharrin commented on #3793
Please run `artisan filament:upgrade`, delete any published views, and recompile your theme.

[2022-09-01 18:37] yaplej commented on #3676
Odd its still not working in my reproduction repo here but has suddenly started working in the other repo I am working on.  Not sure what is going on.

[2022-09-01 18:47] awcodes commented on #3665
So, we're good on this?

[2022-09-01 18:47] danharrin commented on #3676
I did test this as well

Did you update the Filament version?

Let us know if it comes back and I'll reopen the issue

[2022-09-01 18:47] #3676 closed

[2022-09-01 18:48] danharrin commented on #3665
Is it a Livewire bug that `$wire` doesnt work inside watchers?

[2022-09-01 19:15] awcodes commented on #3665
Hard to say. The error is getting thrown by SupportAlpine.js which is in livewire, but the fact that $wire is always null inside $watch could be an Alpine bug.

![Screen Shot 2022-09-01 at 3 14 17 PM](https://user-images.githubusercontent.com/3596800/187994355-c2864a4a-b108-4a1a-b529-9e2d0862ae3c.png)

[2022-09-01 19:37] danharrin commented on #3665
Does `this.wire = $wire` in your fix not work? Does setting a property on the instance really reflect that change in the backend using an AJAX request?

[2022-09-01 19:45] awcodes commented on #3665
`this.wire = $wire` works, it stops the error from happing. Just a really gross way of doing it, IMO.

[2022-09-01 20:12] danharrin commented on #3665
But does it make an AJAX request with your fix?

[2022-09-01 20:18] awcodes commented on #3665
I'm seeing the same AJAX requests with or without the fix

[2022-09-01 20:44] medilies opened #3814 "Filament\Tables\Columns\TextColumn is broken is v2.15.39"
### Package

filament/tables

### Package Version

v2.15.39

### Laravel Version

v9.23

### Livewire Version

v2.10.7

### PHP Version

8.1.6

### Problem description

I installed filament tables on my project 10 days ago and never touched composer since. Today I did a new composer install on a different machine and it picked the latest version which caused the described problem.

### Expected be

[2022-09-01 20:46] danharrin commented on #3814
Clear your view cache, delete published views. Cant help you without a reproduction repo or instructions.

[2022-09-01 20:48] danharrin commented on #3665
weird... so the console error is there for nothing?

[2022-09-01 20:50] medilies commented on #3814
You are correct, the problem is caused by the cache XD

Sorry, to think the latest version introduced a bug

[2022-09-01 20:50] danharrin commented on #3814
Btw, our installation instructions tell you that `filament:upgrade` needs to be added to your `composer.json` upgrade script. If you follow those instructions, these outdated view issues wont happen.

[2022-09-01 20:51] awcodes commented on #3665
Looks like it. LOL

[2022-09-01 21:05] zepfietje commented on #3665
Had the same with notifications. Worked fine despite the error.

[2022-09-01 21:06] danharrin commented on #3665
And did you fix that?

[2022-09-01 21:10] zepfietje commented on #3665
https://github.com/filamentphp/filament/issues/3665#issuecomment-1234502935

I first solved that case by passing `$wire` into the JS file instead of accessing `this.$wire`. That seemed to fix it. Later converted `$wire.emit()` to `Livewire.emit()` which I found cleaner. Unfortunately, that won't work for this exact issue, as you need to call a method on the right Livewire instance.

[2022-09-01 21:11] danharrin commented on #3665
Alright. I am going to update my PR to @awcodes's suggestion

[2022-09-01 21:12] zepfietje commented on #3665
Seems a good solution for now.

[2022-09-01 21:20] danharrin commented on #3665
Turns out that setting `__instance.property` doesnt make an AJAX request, so the solution doesn't work.

I swapped it out for `__instance.set('property', null)` which works fine

[2022-09-01 21:21] #3665 closed

[2022-09-02 09:05] #3794 closed

[2022-09-02 11:55] #3807 closed

[2022-09-02 14:31] molcsab opened #3826 "Edit pivot attribute bug in v2.15.40"
### Package

filament/filament

### Package Version

v2.15.40

### Laravel Version

v9.27.0

### Livewire Version

v2.3

### PHP Version

PHP 8.1

### Problem description

After upgrading to v2.15.40 pivot attributes are not updating when editing a relation in RM
If downgrading to v2.15.39 there is no issue

### Expected behavior

Update notes pivot attribute

### Steps to reproduce

Edit a record

[2022-09-02 15:02] zepfietje commented on #3826
@molcsab, could you test if this comment fixes your issue? https://github.com/filamentphp/filament/pull/3789#issuecomment-1235511597

[2022-09-02 18:21] AndyTWF opened #3833 "Unexpected table action data during test assertion"
### Package

filament/tables

### Package Version

2.15.45

### Laravel Version

9.27.0

### Livewire Version

2.10.7

### PHP Version

8.1.8

### Problem description

This is a long one so thanks in advance for looking into it!

I have a test that does the following:

[code]

The relation manager has a form which handles the restrictions  as "Blocks", as there are two different types. The relevan

[2022-09-02 20:35] sweebee opened #3834 "Repeater with fileupload and cloneable broken"
### Package

filament/forms

### Package Version

v2.15.43

### Laravel Version

v9.27.0

### Livewire Version

v2.10.7

### PHP Version

8.0.20

### Problem description

When cloning an item in a repeatable field which has a fileupload (with a file) the form breaks.

### Expected behavior

file upload should work as expected.

### Steps to reproduce

Add a repeater with a fileupload and enable cl

[2022-09-03 08:58] #3826 closed

[2022-09-03 12:30] AndyTWF commented on #3833
Done some further digging here - looks like the break occurs in v2.15.19 :)

[2022-09-03 14:19] AndyTWF commented on #3833
So I figured out why this has happened - in the test I used `Str::createUuidsUsingSequence` in order to make the UUID generation deterministic, which then allows me to call `assertTableActionDataSet` with set results.

Looks like something in 2.15.19 changed the order in which the state gets populated, so fields in the repeater were having their UUIDs generated in a different order :)

[2022-09-03 20:17] PhiloNL opened #3845 "DatePicker doesn't work when using dot/array notation"
### Package

filament/forms

### Package Version

v2.15.43

### Laravel Version

v9.27.0

### Livewire Version

v2.10.7

### PHP Version

PHP 8.1

### Problem description

When using the datepicker in combination with the dot/array notation, the state doesn't seem to apply.

[code]

- `foobar.startDate` will be null
- `topLevelDate` will be the date you have chosen

https://github.com/PhiloNL/fila

[2022-09-03 23:27] danharrin commented on #3845
Make sure you always call `$this->form->fill()` for every single form, on `mount()`, as per the docs. That method does a lot of initialisation work and ensures nested array keys exist.

[2022-09-03 23:27] #3845 closed

[2022-09-04 14:22] #3833 closed

[2022-09-04 14:52] danharrin commented on #3833
Nice, glad you got it working. You are right, the array keys are just internal and don't really need testing, just the content.

[2022-09-04 22:33] PirellYO opened #3860 "Route [filament.resources.testimonials.index] not defined"
### Package

filament/filament

### Package Version

v2.0.0

### Laravel Version

v9.x

### Livewire Version

v8.0.0

### PHP Version

PHP.8.x

### Problem description

![image](https://user-images.githubusercontent.com/43124677/188335834-a3db5586-1254-4c8d-b78d-a07e0e578609.png)

I get this error when creating Resources

`php artisan make:filament-resource CategoryResource`

### Expected behavior

[2022-09-04 22:33] #3860 closed

[2022-09-05 01:18] lloricode opened #3861 "Sorting icon in table missing"
### Package

filament/tables

### Package Version

v2.15.44

### Laravel Version

v8.83.23

### Livewire Version

v2.10.7

### PHP Version

PHP 8.0.22

### Problem description

sort icon on table did not appear, but sorting is still working, i seen this PR merge https://github.com/filamentphp/filament/pull/3801, and try to revert this on my vendor and its back to normal

i get this error on consol

[2022-09-05 01:18] lloricode commented on #3861
![Screenshot_2022-09-05_09-10-43](https://user-images.githubusercontent.com/8251344/188342376-e7dcf293-f80b-4cb2-9e45-f8d90f2d087b.png)

[2022-09-05 09:03] zepfietje commented on #3861
It seems like the Blade `<x-dynamic-component>` is not being compiled at all. Might this be due to the Laravel version you use?

Really weird, as I bet you should have many more issues in your project if that component doesn't work correctly.

[2022-09-05 12:49] PhiloNL commented on #3845
✅ Thanks!

[2022-09-06 19:10] marky291 commented on #3692
@yaplej The link to reproduce does not work

[2022-09-07 02:08] molcsab opened #3893 "Table widget is returning empty result set when "All" is selected in pagination"
### Package

filament/filament

### Package Version

v2.15.45

### Laravel Version

v9.27.0

### Livewire Version

v2.10.7

### PHP Version

PHP v8.1.3

### Problem description

When "All" option is selected in the pagination for table widgets, no results are displayed.

The unerlying query from Debugbar is like:

`select * from `table` ...  limit 0 offset 0`

### Expected behavior

I shold displa

[2022-09-07 03:48] adrianlzx1996 commented on #1530
This is still happening

**Package**
filament/forms

**Package Version**
v2.15.44

**Laravel Version**
v9.19

**Livewire Version**
v2.10.7

**PHP Version**
PHP 8.0.23

[2022-09-07 08:26] Sicklou opened #3895 "Individual search on relationship field triggers error"
### Package

filament/tables

### Package Version

v2.15.45

### Laravel Version

v9.28.0

### Livewire Version

v2.10.7

### PHP Version

8.1.0

### Problem description

When using individual search on a relationship field, defined by a dot notation, it triggers an error :
`Filament\Tables\Concerns\{closure}(): Argument #1 ($search) must be of type string, array given`

It is thrown by the `CanSe

[2022-09-07 08:39] Sicklou commented on #3893
I found the bug today as well.

@danharrin I found that passing `null` instead of `-1` make it works. If this could help you.

[2022-09-07 10:33] zepfietje commented on #3893
This should have been fixed by https://github.com/filamentphp/filament/pull/3864.

Note that the Filament demo currently runs on `v2.15.44`, which is not the latest version (v2.15.45).

Are you sure you're experiencing the issue in the latest version of Filament in your project?

[2022-09-07 12:09] Sicklou commented on #3893
Oops sorry.
For me, it is when using the simplePaginate with the Table Component as a standalone.

So I guess, we need to change the documentation : https://filamentphp.com/docs/2.x/tables/getting-started#simple-pagination

I made a PR : https://github.com/filamentphp/filament/pull/3898

[2022-09-07 12:33] molcsab commented on #3893
@zepfietje It is fixed in v2.15.45. Before reporting the error I issued a composer update command and no new filament package was installed, so the version was v2.15.44.

[2022-09-07 12:34] #3893 closed

[2022-09-07 14:33] yaplej commented on #3692
@marky291 Its a private repository.

[2022-09-07 16:37] ryangjchandler commented on #3692
@yaplej The reproduction repository needs to be public for us to access it and debug the problem.

[2022-09-07 17:05] lolen commented on #683
@danharrin maybe there should be an option to pass `shouldSort` or `shouldSortItems` to choices.js? This should solve 99% of the problems as it is most often sorted alphabetically. A bit uglier solution is to pass a sort function.

[2022-09-07 17:20] danharrin commented on #683
It's not a problem with Choices, its a JS thing. Theres an open PR to fix it with a workaround

[2022-09-07 17:49] yaplej commented on #3692
@ryangjchandler I had already added @marky291 but also went ahead and made it public.

[2022-09-07 17:53] marky291 commented on #3692
Can you maybe let us know what file and line to look at? 😂

[2022-09-07 19:01] mahfoudfx commented on #3772
``> > BTW, is it possible to have a workaround for example for Edit action using [Lifecycle hooks](https://filamentphp.com/docs/2.x/admin/resources/listing-records#lifecycle-hooks-1), with the method beforeFormFilled() ?

I think that I found the cleanest workaround using [Field lifecycle Hydration](https://filamentphp.com/docs/2.x/forms/advanced#hydration) which will display the correct translati

[2022-09-07 23:44] joaovdiasb commented on #3895
dot notation is reserved from laravel, you should access as array using getStateUsing

`->getStateUsing(fn($record) => $record->relation['field'] ?? null)`

[2022-09-08 06:35] danharrin commented on #3895
@joaovdiasb dot notation is used for relationships and arrays in Filament. No need for `getStateUsing()`.

This issue is actually a bug with the individual column search feature that was introduced.

[2022-09-08 11:07] joaovdiasb commented on #3895
Good to know! I never managed to use it, I thought it could be some feature restriction

[2022-09-08 11:08] danharrin commented on #3895
Yes, and using dot notation will eager-load the relationship automatically

[2022-09-08 12:45] joaovdiasb opened #3906 "RelationManager breaking form values when edit"
### Package

filament/tables

### Package Version

v2.15.45

### Laravel Version

v9.28.0

### Livewire Version

v2.10.7

### PHP Version

PHP 8.1.9

### Problem description

In RelationManager when view some record with RichEditor before edit, throws a error in console and don't show the form values.

<img width="617" alt="CleanShot 2022-09-08 at 09 30 47@2x" src="https://user-images.githubuserco

[2022-09-08 13:48] yaplej commented on #3692
@marky291 Look at the behavior of the Markdown vs Rich editor when they are enabled/disabled.

https://github.com/yaplej/DynamicMarkdownEditor/blob/main/app/Filament/Resources/ChangeRequestResource.php#L44-L60

[2022-09-08 16:43] riomigal opened #3909 "SpatieMediaLibraryFileUpload not loading S3 picture in relationship form"
### Package

filament/spatie-laravel-media-library-plugin

### Package Version

v2.0

### Laravel Version

v9.0.0

### Livewire Version

v2.0.0

### PHP Version

PHP 8.1.4

### Problem description

I am having this form which I am using on a Profile resource and as well on a ProfileRelationship.
The image is loaded in both tables resource and profile and in the resource form. In the relationship f

[2022-09-08 16:43] #3909 closed

[2022-09-08 18:52] zepfietje commented on #3861
Laravel 8 supports dynamic Blade components, so I'm unsure what exactly goes wrong in your project. This isn't a Filament issue, but most probably a problem with your setup. So I'll close this issue.

[2022-09-08 19:05] ibnnajjaar opened #3912 "FileNotFoundException on resource creation"
### Package

filament/filament

### Package Version

v2.15.46

### Laravel Version

v9.28.0

### Livewire Version

_No response_

### PHP Version

PHP 8.1.7

### Problem description

When running "php artisan make:filament-resource User" FileNotFoundException is thrown.

![image](https://user-images.githubusercontent.com/7188633/189203610-0cdaa2f1-f94b-4575-bba7-b01e02eaef4d.png)

### Expected beh

[2022-09-08 19:33] danharrin commented on #3912
Hmm, looks like a Windows only issue. Please check the latest release, let me know if it doesnt fix.

[2022-09-08 19:33] #3912 closed

[2022-09-08 19:35] danharrin commented on #3861
I've seen this sort of issue before and I cant remember the fix.

[2022-09-08 23:31] lloricode commented on #3861
but the https://github.com/lloricode/laravel-filament-issue/tree/table-sort-icon is a fresh laravel 8 with just a basic filament user resource, so it a laravel issue?

[2022-09-09 08:41] danharrin commented on #3861
Yes, there is some reason why Blade components are not being compiled properly in your setup

[2022-09-09 08:52] nocodelab opened #3916 "Compatibility with blade-ui-kit/blade-heroicons 2.*"
### Package

filament/notifications

### Package Version

2.0

### Laravel Version

9.28.0

### Livewire Version

2.10.7

### PHP Version

8.1

### Problem description

The dependency to blade-ui-kit/blade-heroicons should be updated to 2.* to support the new heroicons version (2).

### Expected behavior

The installation should complete succesfully.

### Steps to reproduce

composer require blade

[2022-09-09 09:01] ryangjchandler commented on #3916
@nocodelab This won't have until version 3.x of Filament because it's considered a breaking change for existing applications using renamed / removed icons in the new version of Heroicons.

[2022-09-09 09:29] zepfietje commented on #3916
Additionally, we can't upgrade to v2 of the Blade Heroicons package, since it dropped support for Laravel 8.

Closing this issue, as it's already being tracked on our v3 roadmap: https://github.com/orgs/filamentphp/projects/2/views/1.

[2022-09-09 10:33] danharrin commented on #3916
Reopening this so people stop asking

[2022-09-09 11:49] maxzod commented on #3554
@danharrin

i think if  you re ordered the getPages array to make it place the `view` in the end of it it will work

[2022-09-09 16:13] belzaaron opened #3922 "TernaryFilter indicators showing as "Yes" or "No" by default and no `->indicator()` changes the displayed text"
### Package

filament/tables

### Package Version

v2.15.45

### Laravel Version

v9.28.0

### Livewire Version

v2.10.7

### PHP Version

v8.1.8

### Problem description

Creating a `TernaryFilter` for a table as such:
[code]
or
[code]
Will result in the "Active filters" indicator to be "Yes" or "No" respectively:
![Example of Active filters text](https://i.imgur.com/B5ePXVv.png)

As you could im

[2022-09-09 16:51] jonnott commented on #3861
I'm having the same issue, with the first resource, in a brand new (fresh Laravel app) Filament Admin setup.

Is it also a problem I specifically have with compilation of Blade components?

[2022-09-09 18:38] danharrin commented on #3554
Yes

[2022-09-09 18:43] danharrin commented on #3861
@jonnott could you share the repo with us?

[2022-09-09 19:19] jonnott commented on #3861
Not easily, it's just local at the moment, a fresh project.

If it's any help, this is the exact error I'm seeing in Chrome DevTools:

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/472468/189426162-820451e7-0273-459b-ac4d-c051224e4349.png">

This happens even if I haven't yet set a `defaultSort()` on the `$table`.

I'm running: very latest filament 2.x, latest Larave

[2022-09-09 19:31] danharrin commented on #3861
I have a suspicion that this is caused by the `@class` directive. It's a Laravel 8 bug that means the dynamic component is not compiled if it contains nested Blade directives.

I've just released v2.15.49. Does this fix the problem? Make sure to run `artisan filament:upgrade` after.

[2022-09-09 19:38] jonnott commented on #3861
Sorry, I've done the upgrade and the error is the same :(

Of course I have `filament:upgrade` in my `post-update-cmd`, like a good boy ;)

[2022-09-09 19:57] danharrin commented on #3861
That's a shame! Will definitely need a reproduction repo.

It's a fresh project, why not Laravel 9?

[2022-09-09 20:00] jonnott commented on #3861
It's complicated .. project was created when L8.x was current, added a model or two .. then stalled .. now resumed work on it, added Filament admin.

I guess a logical step would be to upgrade it to L9.x, but I'd need to carve out a little time to do that.

[2022-09-09 20:02] jonnott commented on #3861
Has this bug ever been fixed in Laravel 8? Is it because Laravel 8 is only getting security fixes now?

[2022-09-09 20:03] danharrin commented on #3861
I don't even know if that was the bug or not, it was a guess. I removed the `@class` usage in the latest version and you said its not fixed, so it sounds like I was wrong.

[2022-09-10 11:02] #3922 closed

[2022-09-10 11:02] danharrin commented on #3922
Fixed by #3931

[2022-09-10 11:12] maxzod commented on #3554
ok , i will work on it

[2022-09-10 11:22] #3895 closed

[2022-09-10 11:23] danharrin commented on #3895
Fixed by #3932

[2022-09-10 11:33] zepfietje commented on #3861
Makes me wonder why specifically this dynamic component doesn't compile and it works fine in other places. 🤔

[2022-09-10 12:22] #3641 closed

[2022-09-10 12:23] danharrin commented on #3641
Fixed by #3933.

[2022-09-10 15:58] kamilst96 opened #3940 "Admin: Database notification trigger misaligned below sm width"
### Package

filament/filament

### Package Version

v2.16.1

### Laravel Version

v9.x

### Livewire Version

v2.10.x

### PHP Version

PHP 8.1.9

### Problem description

Notification trigger becomes misaligned on mobile.

![Zrzut ekranu z 2022-09-10 17-44-33](https://user-images.githubusercontent.com/37311362/189490995-afc2694c-c9f4-4f5b-acbb-0337521f0420.png)

![Zrzut ekranu z 2022-09-10 17-44

[2022-09-10 18:01] danharrin commented on #3940
Can you submit a PR to fix this?

[2022-09-10 19:35] kamilst96 commented on #3940
Yeah, sorry about that. I failed to locate the issue on my first attempt.

[2022-09-11 00:24] lolen commented on #683
@danharrin I meant something like that [poc](https://github.com/lolen/filament/commit/0529a1ad5097273b0f4473a4ca638525df21a5fe)

[2022-09-11 18:55] Xoshbin opened #3962 "How to access the current record in table actions"
### Package

filament/tables

### Package Version

2.0

### Laravel Version

v9

### Livewire Version

2.5

### PHP Version

PHP 8.1

### Problem description

How can I access the current record in actions please?

[code]
it gives this error:

### Expected behavior

It should produce a record, but the record is null

### Steps to reproduce

Clone the repo
seed the database
login with one of the ge

[2022-09-11 20:51] jonnott commented on #3861
Well, now I've upgraded my project to Laravel 9, and all is dandy with the sorting!

My only wish with it now is .. if there was a way of doing the default ordering without it having to add query-string values to the URL, i.e. `/admin/users?tableSortColumn=created_at&tableSortDirection=desc` .. could this somehow be passed through another way, leaving the URL clean (`/admin/users`) ?

[2022-09-12 06:28] Xoshbin commented on #3962
I tested that too, it's still null.
You can even test inside the function like that it's still null
Action::make('unfollow')
            ->action(function($record){
            dd($record);
        }
),

[2022-09-12 06:41] danharrin commented on #683
Have you actually tested this? I haven't, but I highly doubt it works. The options will already be reordered before they reach Choices.

[2022-09-12 07:27] danharrin commented on #3861
Yes, on the ListUsers page you can add the `$queryString = []` property which will prevent Livewire from adding anything to the query string

[2022-09-12 11:28] #3940 closed

[2022-09-12 14:31] titantwentyone commented on #3962
Your query implies that you are displaying a list of users followers. It is probably the case that you cannot unfollow someone that follows you. Only the follower can unfollow. The query should be something like this:

[code]

and your columns should be:

[code]
Hopefully I've understood what you're aiming for.

[2022-09-12 16:14] Xoshbin commented on #3962
OMG 🤦‍♂️, I feel very bad.
Thank you

[2022-09-12 16:14] #3962 closed

[2022-09-12 22:03] lolen commented on #683
Yes, here you have the effects. You just have to think about how to pass the sort type (desc or asc)
before
![before](https://user-images.githubusercontent.com/3825268/189766524-811a23be-6308-4431-a3dd-5ff04ed9db58.png)
after
![after](https://user-images.githubusercontent.com/3825268/189766520-75dd7192-774b-429d-b562-183502e827b7.png)

[2022-09-13 00:43] ariustigger commented on #65
how did you solve that, I already got installed nova now I want also to add filament...? thanks in advance

[2022-09-13 04:19] danharrin commented on #683
What happens if you have a list of options with numeric keys, then reorder them out of numeric order within PHP. Is that order preserved in JS?

[2022-09-13 07:51] jonnott commented on #3861
I don't think that's really what I'd want to achieve .. if any 'parameters' have been changed from the default view (i.e. just /admin/users) e.g. via changing to a different sort order, then I'd want that to be in the query-string, so that exact state of the page can be copy/pasted as a link. But in the case where the sort ordering is as per the configured default, then ideally those sorting param

[2022-09-13 21:12] zepfietje commented on #3861
@lloricode, could you confirm if this is still an issue in the latest Filament version or it has been resolved?

[2022-09-14 02:33] lloricode commented on #3861
yes, possible tomorrow will check this,

[2022-09-14 07:13] zepfietje commented on #3861
I've checked with your reproduction repository, @lloricode. Updating Filament to the latest version does fix the issue.

@danharrin, your fix did work then.

[2022-09-14 07:13] #3861 closed

[2022-09-14 07:16] amsnvc opened #4012 "Disabled Select field still shows "Select an option" text"
### Package

filament/filament

### Package Version

v2.16.1

### Laravel Version

v9.29.0

### Livewire Version

_No response_

### PHP Version

PHP 8.1

### Problem description

Having a disabled Select::make() field still shows the "Select an option" text.

[code]

![grafik](https://user-images.githubusercontent.com/89933034/190085993-b44adecf-ab2a-44bd-9df0-64b94f51fcdf.png)

### Expected beha

[2022-09-14 07:27] zepfietje commented on #4012
What would you expect the placeholder to show instead?

[2022-09-14 07:41] lloricode commented on #3861
will comfirm this

[2022-09-14 08:04] amsnvc commented on #4012
The "Wählen Sie eine Option" (Select an Option) text shouldn't show up at all when the field is disabled. I asked this in the discord and was told I should open an issue on this as this shouldn't happen😅

[2022-09-14 08:07] danharrin commented on #4012
I'm reevaluating if I was correct by saying that 😅 I guess it would actually be inconsistent with the rest of the fields

[2022-09-14 08:12] zepfietje commented on #4012
That's my concern as well.

You could always set a custom placeholder for your specific case, right, @amsnvc?

[2022-09-14 08:23] #4012 closed

[2022-09-15 01:31] YaminMECHQI opened #4027 "Default values not working"
### Package

filament/forms

### Package Version

v2.0.0

### Laravel Version

v.9

### Livewire Version

v2

### PHP Version

php 8

### Problem description

hello i'm using filament on my project and now the default value of toggle, radio, Repeater .. not working

### Expected behavior

set default values for toggle and radio and repeater min items

### Steps to reproduce

[2022-09-15 01:32] #4027 closed

[2022-09-15 20:15] YaminMECHQI opened #4039 "Default values not working"
### Package

filament/forms

### Package Version

v2

### Laravel Version

v9

### Livewire Version

v2

### PHP Version

php 8

### Problem description

the default value not working on resource

### Expected behavior

set the default values

### Steps to reproduce

                            Toggle::make('is_published')
                             ->default(true),

[2022-09-15 23:13] lloricode commented on #3861
confirmed already with with v2.16.2

thanks @danharrin :100:

[2022-09-16 08:41] danharrin commented on #4039
The repository is giving me a 404, please make it public

[2022-09-16 21:30] pxlrbt commented on #4039
@danharrin  Considering this line `$set('variants', null);` I think there's confusion that defaults only work while loading the Create Page.

[2022-09-17 09:38] #3268 closed

[2022-09-17 10:39] danharrin commented on #4039
Yes. I assume thats the problem here.

@YaminMECHQI, defaults are only filled on the Create page, not Edit. Otherwise we would be overwriting your data.

Please fix the repo or provide better demo code, as the code you pasted works on my end.

[2022-09-17 10:39] #4039 closed

[2022-09-17 18:29] danharrin opened #4067 "[2.x] MultiSelect validation i18n"
laravel-filament/filament#2438

[2022-09-17 18:29] danharrin opened #4068 "Default sort tables by multiple columns"
laravel-filament/filament#2626

[2022-09-17 18:29] danharrin opened #4069 "[2.x] More features for Spatie media library file upload, like responsive images"
laravel-filament/filament#2628

[2022-09-17 18:29] danharrin opened #4070 "[2.x] List view for tables"
https://twitter.com/danjharrin/status/1562839703422144513

[2022-09-17 18:30] danharrin opened #4071 "[2.x] Clone builder blocks"
filamentphp/filament#3658

[2022-09-17 18:30] danharrin opened #4072 "[2.x] Responsive widget arrangement"
filamentphp/filament#3628
filamentphp/filament#3816

Dennis:

The docs state that widgets can be any number from 1-12 cols wide, but currently it's fixed to 2 cols. I think we should go with a common 12-col-grid as the doc states.

https://filamentphp.com/docs/2.x/admin/dashboard/getting-started#customizing-widget-width

[2022-09-17 18:31] danharrin commented on #4070
Collapsible row content: https://twitter.com/IllesAprod/status/1561711173153734656

[2022-09-17 18:31] danharrin opened #4073 "Enum interfaces to extract labels and icons and colors"

[2022-09-17 18:31] danharrin opened #4074 "Icons repository for modification"
https://github.com/filamentphp/filament/pull/3568

[2022-09-17 18:32] danharrin opened #4075 "[2.x] Customise chart widget height"

[2022-09-18 08:49] SalvaTerol commented on #2363
I have a similar problem, only using a normal select (not multiselect).

In my case it happens when I use options with searchable (and I don't use either getSearchResultsUsing or getOptionLabelUsing).

It basically duplicates the results:
<img width="615" alt="Captura de Pantalla 2022-09-18 a las 10 43 55" src="https://user-images.githubusercontent.com/35788666/190893688-f9579787-963c-4a2f-b041-14

[2022-09-18 21:06] bokoch commented on #3665
@danharrin Any news regarding this issue? I see it still reproduced and looks like fix was reverted.

[2022-09-18 22:41] xuchunyang opened #4088 "[Forms\Components\FileUpload] Every time I edit a record, the file redownload"
### Package

filament/forms

### Package Version

v2.16.5

### Laravel Version

v9.30.1

### Livewire Version

v2.10.7

### PHP Version

8.1.7

### Problem description

I use the FileUpload field to upload file which works fine. However, every time I edit the record, the already uploaded file gets redownloaded. In the screenshot, when I try to edit the record, the file gets downloaded via fetch au

[2022-09-19 08:59] danharrin commented on #3665
Hey, the fix was not reverted, we just didn't need any of the code that handled closing modals any more. I can't reproduce the problem myself any more? Please submit a new issue with a reproduction repository.

[2022-09-19 09:01] bokoch commented on #3665
Ok, thanks. I think similar issue already created here https://github.com/filamentphp/filament/issues/3906

[2022-09-19 10:13] danharrin commented on #4088
Notes:

https://pqina.nl/filepond/docs/api/instance/properties/#files
https://github.com/filamentphp/filament/blob/d10b3ee3cb4015be6574b5835f8e9ca23e1449a1/packages/forms/resources/js/components/file-upload.js#L298-L303

[2022-09-19 18:33] riomigal opened #4107 "SpatieMediaLibrary retrieving signed image does not work in relationship with AWS S3"
### Package

filament/spatie-laravel-media-library-plugin

### Package Version

v2.0

### Laravel Version

v9.0.0

### Livewire Version

v2.0.0

### PHP Version

PHP 8.1.4

### Problem description

I already wrote this issue on discord, when trying to access an image from a RelationshipManager form it has CORS issues since it doesn't set the correct headers. It's not a problem on AWS, I can upload

[2022-09-19 23:55] saade commented on #4107
Ralated?

https://discord.com/channels/883083792112300104/883083792653381695/1021471776888344577

https://discord.com/channels/883083792112300104/883083792653381695/1021485826099654757

[2022-09-20 02:57] riomigal commented on #4107
Is similar. I am having the issue only in the relationship form.

Header from profile resource (Working):
+headers: Symfony\Component\HttpFoundation\HeaderBag {#48 ▼
    #headers: array:10 [▼
      "host" => array:1 [▶]
      "connection" => array:1 [▶]
      "cache-control" => array:1 [▶]
      "upgrade-insecure-requests" => array:1 [▶]
      "user-agent" => array:1 [▶]
      "accept" => array:1

[2022-09-20 09:42] ryangjchandler commented on #4071
I'll take a look at this today!

[2022-09-20 10:04] danharrin commented on #4071
Great, thanks :)

[2022-09-20 20:37] jfvoliveira commented on #3048
Hey there.
I've just found this issue In the official demo ([demo.filamentphp.com](https://demo.filamentphp.com/)).
The steps to reproduce it are:
- Login
- Go to Brands
- Click a brand
- Scroll to Products
- Click the Toggle Columns button
- Toggle Security stock or Publish Date on (they were off for me)
- Sort the table (clicking in the column header) by any column
- The loop starts

The loop st

[2022-09-21 09:51] pascalvgemert opened #4122 "Form data is missing when entering empty string as Form Component name"
### Package

filament/forms

### Package Version

v2.16.7

### Laravel Version

v9.31.0

### Livewire Version

v2.10.7

### PHP Version

PHP 8.1.5

### Problem description

When I build the following Form Schema for a resource:

[code]

Then when trying to edit this resource, the data which is provided to the model or `handleRecordUpdate()` method, is only the `last_name`. The `Forms\Components\Pl

[2022-09-21 10:40] tiagof opened #4125 "Relationship query scopes are not being applied"
### Package

filament/tables

### Package Version

v2.16.8

### Laravel Version

v9.31

### Livewire Version

_No response_

### PHP Version

PHP 8.1

### Problem description

When ordering a table column by a relationship, the relationship scopes are not applied and a
`Cardinality violation: 1242 Subquery returns more than 1 row`
exception is thrown.

### Expected behavior

Sorting works as expec

[2022-09-21 15:16] bokoch opened #4131 "Collapsing/expanding of repeater items are broken in relation manager"
### Package

filament/forms

### Package Version

v2.16.9

### Laravel Version

v9.31.0

### Livewire Version

v2.10.7

### PHP Version

v8.1.9

### Problem description

I created repeater in relation manager, repeater is collapsible and collapsed by default.
When I created few entries (two or more) for this relation. When I click "Edit" on some entry from relation manager, it is ok, repeater item

[2022-09-22 19:30] #4070 closed

[2022-09-23 07:02] RickDBCN opened #4158 "Distinguish new notifcations for accessibility"
### Package

filament/notifications

### Package Version

v2.2.16.11

### Laravel Version

9.x

### Livewire Version

_No response_

### PHP Version

8.1.x

### Problem description

Several screens can't see the difference between unread notifications and read notifications. See: https://prnt.sc/G6sXbDlmmwRn

### Expected behavior

```bg-gray-50``` should be ```bg-primary-50``` for increased acces

[2022-09-23 07:15] #4158 closed

[2022-09-23 08:13] #4067 closed

[2022-09-23 08:45] #4069 closed

[2022-09-23 08:56] #4075 closed

[2022-09-23 10:07] #4072 closed

[2022-09-23 10:11] zepfietje opened #4164 "Extract Blade components for static form fields"

[2022-09-23 11:27] NicolasSacC opened #4167 "Layout::BelowContent has been removed?"
### Package

filament/filament

### Package Version

v2.16.13

### Laravel Version

9.19

### Livewire Version

_No response_

### PHP Version

8.0.2

### Problem description

[This commit: https://github.com/filamentphp/filament/commit/f5f636f4bdd886105ac4ef759657bb3bba471889#diff-f55e230053254a9af4365cc0e5d9a1f8c6560892fe4f6be0863aa10cf3a4bf3f
](https://github.com/filamentphp/filament/commit/f5f

[2022-09-23 11:28] NicolasSacC commented on #4167
I didn't include a reproduction repository, I think that you can see why a bug would happen just by opening the commit.

[2022-09-23 11:35] danharrin commented on #4167
Whoops, let me check now...

[2022-09-23 11:40] danharrin commented on #4167
Fixed by https://github.com/filamentphp/filament/commit/3b276d2a827a1f3c01ea72c05895229c06f52adb

This has been released already

An explanation: I think that at one point, I added an additional `BelowContent` option for the `Actions\Position` class. Then I was unhappy with that wording and renamed it to `AfterContent`. I think that I might have used find and replace to do that, but didn't realise

[2022-09-23 11:40] #4167 closed

[2022-09-23 14:50] SudoGetBeer opened #4175 "Saving belongsTo relationship not working"
### Package

filament/forms

### Package Version

v2.16.14

### Laravel Version

9.31.0

### Livewire Version

v2.10.7

### PHP Version

8.1

### Problem description

Hello,

thanks for the great package.
We just encountered something that could be a bug.
So we has a Form build something like that:

[code]

### Expected behavior

That on submitting the post is saved and the author is saved too and

[2022-09-23 16:26] danharrin opened #4176 "Mutate form layout relationship data before save / create"
### Discussed in https://github.com/filamentphp/filament/discussions/4133

<div type='discussions-op-text'>

<sup>Originally posted by **topegret** September 21, 2022</sup>
https://filamentphp.com/docs/2.x/admin/resources/creating-records#customizing-data-before-saving

per document we can mutate form data before save into database table.  I noticed that if I  dd($data) .  only the direct model da

[2022-09-23 16:29] danharrin opened #4177 "Multi-context / guard"
### Discussed in https://github.com/filamentphp/filament/discussions/4173

<div type='discussions-op-text'>

<sup>Originally posted by **enso-media** September 23, 2022</sup>
Right now its not possible to register different resources based on specific user roles.
The user data is only available when the StartSession middleware was executed, however registration of filament resources is only possib

[2022-09-23 16:48] danharrin opened #4178 "Reordering Relationship on pivot table column"
### Discussed in https://github.com/filamentphp/filament/discussions/3492

<div type='discussions-op-text'>

<sup>Originally posted by **MACscr** August 13, 2022</sup>
I have Banners and Banner Zones with a pivot table with an `order` column. Ordering in an RM should try update the `order` column on the pivot table instead of trying to do it on the banners table.

[code]

[code]

[code]
[code]

![

[2022-09-23 21:50] #4071 closed

[2022-09-24 02:20] alejandrotrevi commented on #3704
omg i just wasted 2 hours of my life, shoul've searched here first 😭

[2022-09-24 07:40] lam0819 opened #4182 "Chart.js plugin support, chartjs-plugin-annotation not load"
Package
filamentphp/filament

Package Version
^2.0

Laravel Version
^9.0

PHP Version
8.1.7

Problem description

 In my case,  I want to use chartjs plugin, chartjs-plugin-annotation and chartjs-plugin-datalabels.

1. originally designed, the filament chart widget cannot add the plugin.
2. I extend a new blade to support the plugin
3. finally, I can add "plugins: [ChartDataLabels]", it shows corr

[2022-09-24 08:43] zepfietje commented on #4182
Hey @lam0819! Could you open an issue using the bug report template and fill in all required details? This would allow us to help you better. 🙂

[2022-09-24 09:05] lam0819 commented on #4182
Let me take some time to create a Reproduction repository

[2022-09-24 09:05] lam0819 commented on #4182
Let me take some time to create a Reproduction repository

[2022-09-25 13:13] #4125 closed

[2022-09-25 15:41] andre-arc opened #4190 "[FILAMENT-FORMS] Filepond.js not working on FileUpload Components"
### Package

filament/forms

### Package Version

v2.0.0

### Laravel Version

v8.75

### Livewire Version

v2.0.0

### PHP Version

PHP 8.1.10

### Problem description

file upload component just displaying html input type file

### Expected behavior

file upload supposed  displaying plugin filepond.js with file preview

### Steps to reproduce

- run laravel on Reproduction repository

### Reprod

[2022-09-25 15:44] andre-arc commented on #4190
![image](https://user-images.githubusercontent.com/11828823/192152310-986101bc-7f58-4bd8-b915-db597956137c.png)

this result using FileUpload Components

[2022-09-25 17:42] danharrin commented on #4190
You **must** call `$this->form->fill()` from `mount()` for every single form you build. It's in the complete docs examples on the Getting Started page.

[2022-09-25 18:51] danharrin opened #4194 "Use Blade svg helper instead of components for icons"
### Discussed in https://github.com/filamentphp/filament/discussions/3965

<div type='discussions-op-text'>

<sup>Originally posted by **ianlandsman** September 12, 2022</sup>
Using Blade Icons default component calls adds a huge performance hit when you have large icon libraries like Font Awesome. We've seen 200-400ms increases in page load time when using blade-icons with these large libraries.

[2022-09-25 19:35] danharrin commented on #2363
Should be fixed by #4195, please verify in the next release

[2022-09-25 19:48] danharrin commented on #2969
@sweebee is right, the `timezone()` method is not appropriate for use on a date-only input - only time.

What you experienced is the desired behaviour of the date picker in this case - converting midnight Zurich time to UTC, which is a day before.

[2022-09-25 19:48] #2969 closed

[2022-09-25 20:16] #3048 closed

[2022-09-25 20:16] danharrin commented on #3048
Should be fixed by #4196. Please check in the next Filament version. Let me know either way.

[2022-09-25 20:18] SebastiaanKloos commented on #4178
Ahh yeah. I still need to make a PR for this right?!😅. Something with time🙈

[2022-09-25 20:31] #3650 closed

[2022-09-25 20:31] danharrin commented on #3650
Should be fixed by #4197.

[2022-09-25 20:33] danharrin commented on #4178
Yes please 😂

[2022-09-26 03:46] andre-arc commented on #4190
still not working after calling `form->fill() ` on method `mount` with the same error log
it's there something wrong with `vendor/filament/forms/dist/module.esm.js`

[2022-09-26 04:44] Nuhel commented on #4177
I have make something like this,
It was my client requirements to manage navigation menu, It may not prevent registering the resource , but navigation menu can be manipulated.

Here is a link of a video of this.
[https://drive.google.com/file/d/1ulLsGdR5nVsz1g2XVAzpqC6gBVZd6fbE/view?usp=sharing](url)

[2022-09-26 05:55] enso-media commented on #4177
Sure, this is already possible out of the box with the NavigationBuilder.

However i need completely separated resources, pages and functions for specific application scopes and roles (admin/tenant/user).
We already have methods for this like registerResources, registerPages and registerWidgets. The issue is just that you cannot use those methods later, as the filament routes get generated separat

[2022-09-26 08:09] andre-arc commented on #4190
sorry i mistaken load livewire scripts on bottom view file. in your documentation you put livewire script on top of document.

[2022-09-26 08:09] #4190 closed

[2022-09-26 10:22] danharrin commented on #4122
Although this is unexpected behaviour, using an empty string name as a form component name in the first place is definitely not supported. If you don't want a label, you should be using `->disableLabel()`, which hides the label except for screen readers. All fields should have internal labels for accessibility reasons.

[2022-09-26 10:22] #4122 closed

[2022-09-26 10:36] danharrin commented on #3834
Unfortunately, this is simply a Livewire file uploads limitation. When repeater items are cloned, their data gets copied exactly, which is expected behaviour. Eventually when the first image object is uploaded, Livewire will delete it from the temporary disk, meaning that it's not accessible to the other cloned repeater items.

I've just submitted a fix for this which means that uploaded files wil

[2022-09-26 10:36] #3834 closed

[2022-09-26 10:47] danharrin commented on #4175
Hey! We don't actually support model binding like this in Filament, as we've found that it's not great practice. Forms are often much more complex than their model, and should really be kept separate from your persisted model data. So, I will rewrite your code example with notes about how to approach it in a better way:

[code]

[2022-09-26 10:53] danharrin commented on #4182
Honestly I don't think this a Filament bug, it's just an issue with your implementation. Discussion should be continued in #4155, not here. You can post the reproduction repository there when you create it.

[2022-09-26 10:53] #4182 closed

[2022-09-26 11:03] danharrin opened #4204 "Grid layout for table rows"

[2022-09-26 12:37] SudoGetBeer commented on #4175
Hey Dan,

okay I understand that part with the model binding. But the relationship saving (especially the creating) still doesn't work:
https://github.com/SudoGetBeer/filament/blob/18048c4366b29b198c2c57f7a23e42f53cc0d55e/tests/src/Forms/FormsRelationTest.php

[2022-09-26 13:18] TheSoulrester opened #4206 "Visible scrollbar in expanding sidebar and text leaves it's menubutton"
### Package

filament/filament

### Package Version

v2.16.17

### Laravel Version

9.31.0

### Livewire Version

_No response_

### PHP Version

PHP 8.1.10

### Problem description

While the collapsed sidebar is decollapsing, there is a scrollbar visible for a short time in the footer area of the sidebar.
Moreover, the text of the menu-button exits the button and slided in from the left side.

H

[2022-09-26 13:36] danharrin commented on #4206
Can you submit a PR to fix this? Personally I don't think it's that visually offensive to consider a "bug"... 🤔

[2022-09-26 13:54] ElenaMainerici opened #4207 "File upload isn't cleared after create and add another"
### Package

filament/filament

### Package Version

^2.15

### Laravel Version

^9.19

### Livewire Version

_No response_

### PHP Version

^8.0.2

### Problem description

file upload isn't cleared after create and add another

### Expected behavior

Clear files after submit create and add another
<img width="1027" alt="Screenshot 2022-09-26 at 15 52 24" src="https://user-images.githubuserconte

[2022-09-26 13:57] ElenaMainerici commented on #4207
Can be tested here: https://github.com/filamentphp/demo

[2022-09-26 15:46] mohamedsabil83 opened #4214 "DatePicker not chosen the selected date after enabled"
### Package

filament/forms

### Package Version

v2.16.17

### Laravel Version

v9.31.0

### Livewire Version

_No response_

### PHP Version

PHP 8.1.10

### Problem description

When **DatePicker** is disabled then enabled, it stops choosing the selected date

### Expected behavior

Choose the selected date as expected even when **DatePicker** enabled by condition

### Steps to reproduce

- Add

[2022-09-26 16:34] TheSoulrester commented on #4206
I'm not very familiar with github. I think I can only create a pull request if I forked this repo?

I created a new laravel environement and installed the TALL stack. After that, I added filament admin. The problem with the appearing scrollbar was already from the beginning.

[2022-09-26 19:28] dissto opened #4216 "An empty `RelationResource` causes a "Multiple root elements detected" livewire error which causes sideeffects"
### Package

filament/filament

### Package Version

^2.0

### Laravel Version

9.31.0

### Livewire Version

^2.5

### PHP Version

8.1.6

### Problem description

An empty `RelationResource` (with no records listed) causes a console error of

`Livewire: Multiple root elements detected. This is not supported. See docs for more information https://laravel-livewire.com/docs/2.x/troubleshooting#root

[2022-09-26 19:28] #4216 closed

[2022-09-26 20:07] dissto opened #4218 "An empty RelationResource causes a "Multiple root elements detected" livewire error which causes sideeffects"
### Package

filament/filament

### Package Version

^2.0

### Laravel Version

9.31.0

### Livewire Version

^2.5

### PHP Version

8.1.6

### Problem description

An empty `RelationResource` (with no records listed) causes a console error of

`Livewire: Multiple root elements detected. This is not supported. See docs for more information https://laravel-livewire.com/docs/2.x/troubleshooting#root

[2022-09-27 06:10] CaptainIRS opened #4222 "Crash on passing closure to `options` of `MultiSelect` component"
### Package

filament/forms

### Package Version

v2.16.17

### Laravel Version

v9.31.0

### Livewire Version

v2.10.7

### PHP Version

8.1.10

### Problem description

When a closure is passed to the `options` method of `MultiSelect` component, a JS runtime error is thrown when the multi-select dropdown is clicked in the browser:

[code]

I have bisected the issue and this bug starts to occur f

[2022-09-27 06:59] danharrin commented on #4222
I definitely tested this use case, as the PR I made fixed the issues with dynamic multiselect options.

I think that this error is caused by you not calling `$this->form->fill()` from `mount()`. It is mandatory for every form.

[2022-09-27 07:29] danharrin opened #4224 "Individual search column inputs disappear when empty state"

[2022-09-27 07:47] danharrin commented on #4218
This was already fixed by #4199, the demo just needs to be updated to the new version.

[2022-09-27 07:47] #4218 closed

[2022-09-27 07:50] danharrin commented on #4222
I just tested again, I can confirm that following the docs with `$this->form->fill()` fixes the problem:

[code]

[2022-09-27 07:50] #4222 closed

[2022-09-27 09:57] neopheus opened #4229 "TagsInput : explode(): Passing null to parameter #2 ($string) of type string is deprecated"
### Package

filament/forms

### Package Version

v2.16.17

### Laravel Version

9.x

### Livewire Version

_No response_

### PHP Version

PHP 8.1

### Problem description

explode(): Passing null to parameter #2 ($string) of type string is deprecated

[code]

### Expected behavior

no error message

### Steps to reproduce

ressource with null parameters

### Reproduction repository

https://gith

[2022-09-27 09:59] neopheus commented on #4229
PR : https://github.com/filamentphp/forms/pull/7

[2022-09-27 10:08] zepfietje commented on #4206
I do think this is a bug, even if it's not that visually offensive.

@TheSoulrester, our contributing instructions should help you get started: https://github.com/filamentphp/filament#contributing.

[2022-09-27 11:23] CaptainIRS commented on #4222
I did correctly initialise the form in the actual codebase, but sorry, I missed that when creating the repro. I think the actual issue is that `MultiSelect` no longer takes `null` as a valid value after v2.16.16. I was trying to follow https://youtu.be/W_eNyimRi3w?t=204 where `$set('postId', null)` is done to clear the value of the `Select` component. I did the same with the `MultiSelect` componen

[2022-09-27 12:18] #4229 closed

[2022-09-27 12:19] danharrin commented on #4222
`$set('postId', null)` is perfectly valid for a single select, but the correct way would be `$set('postId', [])` definitely

[2022-09-27 13:17] G3z opened #4235 "complex Filter form does not respect colspans"
### Package

filament/tables

### Package Version

v2.16.17

### Laravel Version

v9.31.0

### Livewire Version

_No response_

### PHP Version

PHP 8.1.10

### Problem description

When building a fairly complex filter form i'm using colspans to organize filters
[code]

but every filter is always inside a `col-span-1`

![Schermata 2022-09-27 alle 15 12 56](https://user-images.githubusercontent.co

[2022-09-27 14:05] BorisKM commented on #4235
The same problem!

[2022-09-27 14:09] RX-77IT commented on #2363
Lately something seems to not be working right with MultiSelect and Many To Many relationship.

![original](https://i.imgur.com/YmDfIGs.jpg)

When i write something, all options already chosen with the same name disappear from the MultiSelect field and are transferred in the list below the field. However, if I save, all the original options present are still saved.

![written](https://i.imgur.com/

[2022-09-27 15:03] danharrin opened #4239 "Send notifications from JavaScript"
### Discussed in https://github.com/filamentphp/filament/discussions/3582

<div type='discussions-op-text'>

<sup>Originally posted by **studiowizjo** August 20, 2022</sup>
How  notifications can be send from view? I tried approach like below, but without success.

[code]

[2022-09-27 15:24] RX-77IT commented on #2363
It's just a simple many to many relationship between Product and Color models. The only thing that is somewhat different is the intermediate table name that is not in alphabetical order.

[code]

[code]

[code]

Feel free to ask anything else if you need.

[2022-09-27 15:50] G3z commented on #4235
I think the problem is that every Filter is wrapped in a `Filament\Forms\Components\Group`
that shadows the Filter's colspan
this is a dump of
[code]

notice the groud's colspan and the filter's colspan

![Schermata 2022-09-27 alle 17 47 28](https://user-images.githubusercontent.com/875086/192573666-ad686133-b458-4753-bb36-1497cb22f6c6.jpg)

[2022-09-27 16:28] Kristories commented on #4206
Yeah, I don't think this is a bug. But let me fix this.

[2022-09-27 19:06] zepfietje commented on #4239
We've discussed this before in https://github.com/filamentphp/filament/pull/3424, right?

[2022-09-27 21:54] markkimsal opened #4241 "SpatieTagsInput do not escape single quotes"
### Package

filament/spatie-laravel-tags-plugin

### Package Version

v2.15.10

### Laravel Version

v9.23.0

### Livewire Version

v2.10.6

### PHP Version

8.0.16

### Problem description

Adding a spatie tag with a single quote, like "Brian O'Hara" will result in javascript errors when loading a page that wants to show that tag value as a type-ahead value.

### Expected behavior

spatie tags e

[2022-09-27 21:58] markkimsal commented on #4241
[code]

This produces &#039;hara vaules in the tag badges, but still the bad JS in the <x-template tags

![image](https://user-images.githubusercontent.com/54099/192643990-3e361f93-e1ef-4d4a-bef3-c47b6cd705cf.png)

[2022-09-27 22:10] markkimsal commented on #4241
this is what fixed it for me.
in vendor/filamentphp/forms

add @js() around the $suggestion in
 resources/views/components/tags-input.blade.php
[code]

[2022-09-27 22:46] markkimsal commented on #4241
this is what the repo has, simple edit user form, one tag, enter value of "o'hara", reload, see js errors

![image](https://user-images.githubusercontent.com/54099/192650781-51b70dee-cd3d-4e63-8150-ca6bd2c67c6f.png)

[2022-09-28 00:31] bureauvk commented on #4107
I also had issues with CORS. Uploading and showing worked, but sometimes the CORS issue came up.
I configured the CORS on the Permission tab in the Bucket dashboard and no errors since.

[code]

Is this the way we should fix this? Happened to me on multiple S3 buckets.

[2022-09-28 07:05] danharrin commented on #4239
I think we should mirror the PHP API with a JS object.

[2022-09-28 08:01] zepfietje commented on #4239
Or could we just build the PHP `Notification` object and call the `toArray()` method from the view? Just exploring here. 😄

[2022-09-28 08:42] danharrin commented on #4239
that wouldn't work if you wanted to use a JS variable within the message or something

[2022-09-28 09:11] zepfietje commented on #4239
Yeah that's the main concern I could come up with as well.

[2022-09-28 09:12] zepfietje commented on #4206
@danharrin, the linked PR only fixes part of this issue. The menu item text issue still exists, right?

[2022-09-28 13:37] tanthammar commented on #4194
When the time comes to start with this task, I made a branch that you can merge and hopefully save some time.
Based on v2.13.20
https://github.com/tanthammar/filament/tree/svg-blade-icons

[2022-09-28 14:19] zepfietje commented on #4194
Thanks, @tanthammar.

I see in some places you wrapped the `@svg` directive in an additional `span` tag to add attributes to it? Attributes can also be passed as an argument to the `@svg` directive, so it doesn't need any additional wrapping elements.

Also, there's a few places where indentation needs to be fixed in your fork. 🙂

@danharrin, would it be cool if @tanthammar opened a PR that we can

[2022-09-28 19:28] RivnatZille commented on #3048
Hey Dan! I've updated Filament and tested out the tables many times, and wasn't able to reproduce the bug anymore!
It's fixed!

Thank you so much! Cheer!

[2022-09-28 23:05] dissto opened #4256 "Pressing ESC on interactable components inside a modal should not close it"
### Package

filament/forms

### Package Version

^2.0

### Laravel Version

9.32.0

### Livewire Version

^2.5

### PHP Version

8.1.6

### Problem description

If you have components like DateTimePicker or MultiSelect inside a modal and you press ESC on those components - the modal closes.

This makes navigating with only a keyboard very cumbersome imho.

### Expected behavior

I expect all the

[2022-09-29 02:43] wily45454545 opened #4260 "Input fields (hours, minutes and seconds) of DateTimePicker in filter are not reset together by resetting the filter"
### Package

filament/filament

### Package Version

v2.16.16

### Laravel Version

v9.31.0

### Livewire Version

_No response_

### PHP Version

PHP 8.0.2

### Problem description

After using the DateTimePicker in the filter and resetting the filter, the input fields for hours, minutes and seconds in the DateTimePicker are not reset together.

### Expected behavior

Input fields (hours, minutes

[2022-09-29 09:42] zepfietje opened #4266 "Make MultiSelectFilter extend SelectFilter"

[2022-09-29 11:28] zepfietje opened #4270 "[2.x] Add notifications testing docs"

[2022-09-29 12:38] zepfietje opened #4273 "Deprecate BooleanColumn in return for IconColumn::make()->boolean()"

[2022-09-29 13:40] tanthammar commented on #4194
@zepfietje "I see in some places you wrapped the @svg directive in an additional span tag to add attributes to it? Attributes can also be passed as an argument to the @svg directive, so it doesn't need any additional wrapping elements."

I tried adding them to the @svg directive, but decided to go for a span where needed.
It was the only common denominator to keep the code style consistent in all

[2022-09-29 14:48] danharrin commented on #4194
`<span>` wrapper is perfect for this.

[2022-09-30 05:30] TheSoulrester commented on #4206
Hey @Kristories
thank you for fixing one part of this issue this fast.

According to your question: I would expect that the button text won't exit its button while the menu is expanding.

While the menu expands, the text jumps out of the menubutton to the left border, is expanding there and after the menu finished expanding, the text "jumps" in the button again. And this is, in my opinion, a visua

[2022-09-30 06:42] lloricode opened #4289 "File did not upload on settings"
### Package

filament/spatie-laravel-settings-plugin

### Package Version

v2.16.18

### Laravel Version

v9.32.0

### Livewire Version

v2.10.7

### PHP Version

PHP 8.1.9

### Problem description

Expected to receive file upload using `FileUpload::make($field)` in `mutateFormDataBeforeSave` function

### Expected behavior

it will receive FileUpload data in `mutateFormDataBeforeSave`

### Steps

[2022-09-30 08:21] PeranoXx opened #4293 "Laravel filament form components not rendering properly."
### Package

filament/forms

### Package Version

2.16

### Laravel Version

9.19

### Livewire Version

2.5

### PHP Version

8.0.2

### Problem description

Hello!
I am facing issue in filament form components not rendering properly in livewire component.

Multi select not working
![image](https://user-images.githubusercontent.com/89066237/193225182-bcf6656e-2c41-4b63-beec-b40b86f68ed6.png)

Tog

[2022-09-30 08:21] #4293 closed

[2022-09-30 08:55] danharrin commented on #2363
Reverted

[2022-09-30 08:57] #4260 closed

[2022-09-30 09:12] Kristories commented on #4206
![Screen Shot 2022-09-30 at 4 03 55 PM](https://user-images.githubusercontent.com/774338/193235248-fc84427c-4a61-4c1e-99d7-7283c96413fd.png)

Yeah, you're right @TheSoulrester. I'll fix this one.

[2022-09-30 09:26] Z3d0X commented on #4293
I see you don't have public properties for all of your fields.

https://filamentphp.com/docs/2.x/forms/getting-started#initializing-forms

Alternative is to scope all data to a single property:
https://filamentphp.com/docs/2.x/forms/getting-started#scoping-form-data-to-an-array-property

[2022-09-30 10:20] chris-ware opened #4295 "Markdown Input behaves weirdly when content contains double spaces"
### Package

filament/filament

### Package Version

v2.16.19

### Laravel Version

v9.32.0

### Livewire Version

v2.10.7

### PHP Version

PHP 8.1.8

### Problem description

When a markdown input contains a double space, the markdown input behaves very weirdly:
![Screenshot 2022-09-30 at 11 14 19](https://user-images.githubusercontent.com/19684457/193249239-b6822e3a-53d3-4fee-bb32-3d783b0bc9ce.

[2022-09-30 11:43] danharrin opened #4296 "Polymorphic Select"
### Discussed in https://github.com/filamentphp/filament/discussions/4284

<div type='discussions-op-text'>

<sup>Originally posted by **LukasFreyCZ** September 29, 2022</sup>
I think adding support for polymorphic relationships in Select fields would be a perfect addition to an already perfect package :-)

I have managed to create a very messy version which kind of worked for searchable selects (

[2022-09-30 15:09] Sicklou opened #4300 "Table : empty state makes search columns disappear"
### Package

filament/tables

### Package Version

v2.16.19

### Laravel Version

v9.33.0

### Livewire Version

v2.10.7

### PHP Version

8.1.0

### Problem description

The header row with the search inputs disappears and make the all things stuck.

Before :
![image](https://user-images.githubusercontent.com/8366863/193300128-b1f37ca7-c546-49bd-a2b6-8ee7d4486538.png)

After :
![image](https://us

[2022-09-30 15:09] #4300 closed

[2022-09-30 15:29] danharrin commented on #4300
Duplicate of #4224

[2022-09-30 16:00] Kristories commented on #4295
I tested from your reproduction repository. This issue is because you are using `\r\n`, whereas if you try to save via form, you will get `\n`. Why not change your seeder?

Do we have to replace `\r\n` to `\n` via component @danharrin?

![](https://images.squarespace-cdn.com/content/v1/518f5d62e4b075248d6a3f90/1391582191233-V1NR6PUP72BQLICE6BTG/image-asset.jpeg?format=1500w)

[2022-09-30 16:23] chris-ware commented on #4295
The purpose of the seeder is to show the issue, so replacing it does nothing.

[2022-09-30 16:34] #4206 closed

[2022-09-30 16:59] Kristories commented on #4295
`LF` and `CR` are [control characters](https://en.wikipedia.org/wiki/Control_character) or [bytecode](https://en.wikipedia.org/wiki/Bytecode) that can be used to mark a line break in a text file.

- `LF` = Line Feed (`\n`, `0x0A` in hexadecimal, 10 in decimal) — **moves the cursor down to the next line** without returning to the beginning of the line.
- `CR` = Carriage Return (`\r`, `0x0D` in hexa

[2022-09-30 18:49] dissto opened #4301 "Autofocus inside a wizard step gets ignored"
### Package

filament/filament

### Package Version

^2.0

### Laravel Version

9.32.0

### Livewire Version

^2.5

### PHP Version

8.1.6

### Problem description

If you set `autofocus->()` to an input inside a step inside a wizard - it will be ignored.

### Expected behavior

To set autofocus properly

### Steps to reproduce

Set autofocus() on any input inside a `\Step`

### Reproduction repos

[2022-09-30 20:05] dissto opened #4303 "You are not able to manually change the value of a `TimePicker` input"
### Package

filament/filament

### Package Version

^2.0

### Laravel Version

9.32.0

### Livewire Version

^2.5

### PHP Version

8.1.6

### Problem description

You cannot manually change the time in the input field (TimePicker). You are forced to use the little input mask that pops up. I cannot go inside the input and select a time and manually enter it (which is by far easier than clicking t

[2022-09-30 21:30] danharrin commented on #4303
This isn't a bug, our TimePicker is an extension of our DateTimePicker and it doesn't have this functionality built. If you want a text input, use a `TextInput` with `mask()`

[2022-09-30 21:30] #4303 closed

[2022-09-30 22:29] blite opened #4304 "ImageColumn needs a short circuit to not call apis for temporary urls"
### Package

filament/tables

### Package Version

v2.16.19

### Laravel Version

v9.33.0

### Livewire Version

v2.10.7

### PHP Version

PHP 8.1.8

### Problem description

While using S3 all image columns perform a s3 call to check the ACL of the object before deciding whether to show the object with a temporary url or not.

This results in s3 ImageColumn tables loading very slowly.

AWS is cur

[2022-09-30 22:30] blite commented on #4304
@danharrin there is no way to make a reproduction repository for this as you can't share s3 credentials in a repo

[2022-09-30 22:35] danharrin commented on #4304
tbh we can probably get rid of the `getVisibility()` check altogether in this case, that is safest. submit a pr? also for the `BaseFileUpload` probably

[2022-09-30 22:39] blite commented on #4304
well it was specifically added in this commit https://github.com/filamentphp/filament/commit/302ba6d7e11c4543aded6063907700f11538cebf#diff-6fd324eee2d85802ecea21993004627117816f6b06116d48d68ce0b74a2ea0f9

notice in spatie column it has && which makes sense to me and makes me think the || is a typo

[2022-09-30 22:57] blite commented on #4304
It seems that having acl's disabled breaks the fileupload.  S3 pushes you into disabling acl's currently but that could change at any time.  It simply appears to have uploaded the file and never moves it from the temporary upload folder (likely an upstream problem, but maybe one you should be aware of for documentation).

<img width="843" alt="Screen Shot 2022-09-30 at 3 53 27 PM" src="https://use

[2022-10-01 14:24] margarizaldi opened #4310 "Duplicate database notification query"
### Package

filament/filament

### Package Version

v2.16.19

### Laravel Version

v9.33.0

### Livewire Version

v2.10.7

### PHP Version

PHP 8.1.7

### Problem description

Database notification runs two exact / duplicate queries every time checking for new notification.
![image](https://user-images.githubusercontent.com/26832856/193406974-efc35aa5-be9d-41ca-9a2c-2348d977d1db.png)

### Expecte

[2022-10-01 14:53] margarizaldi commented on #4310
Backtraces:

![image](https://user-images.githubusercontent.com/26832856/193415271-676d9954-ec8f-42f7-ad9c-71aa938b82f8.png)

[2022-10-01 17:07] Arturexe opened #4315 "Filament retrieves wrong image urls from filestorage"
### Package

filament/filament

### Package Version

v2.0.0

### Laravel Version

v9.19

### Livewire Version

_No response_

### PHP Version

8.0.18

### Problem description

I've set up a FileUpload form, linked my storage and correctly uploaded an image to it. But when I created a ImageColumn, the images were shown as broken. The image urls observed in browser were `http://localhost/img-id...`

[2022-10-01 17:08] #4315 closed

[2022-10-01 18:18] danharrin commented on #4315
Maybe I'm misunderstanding, but how is this a bug with Filament if the APP_URL was wrong...

[2022-10-01 18:57] Arturexe commented on #4315
For me, filament is the first app that seems to require an update to the APP_URL variable from default in a dev environment. It broke the images in the admin panel for me and there was no information of how to solve it. If this can be declared a bug or not is not obvious to me either. Should it not behave like the rest of laravel, processing the default url and the current port by itself?

[2022-10-01 20:11] danharrin commented on #4315
we don't explicitly use the APP_URL anywhere, we use the Storage facade to generate URLs

[2022-10-02 11:00] JohnnyMaynne opened #4319 "SlideOver appearance animation"
### Package

filament/filament

### Package Version

v2.16.19

### Laravel Version

v9.33

### Livewire Version

v2.10.7

### PHP Version

v8.1.3

### Problem description

Slideover spawn animation starts from the left

Video:  https://www.dropbox.com/s/qxw0s3saeziq5gq/111.mov?dl=0

### Expected behavior

Slideover spawn animation starts from the right

### Steps to reproduce

Add to page action s

[2022-10-02 12:01] LukasFreyCZ opened #4321 "Performance issues on tables with disabled reordering"
### Package

filament/tables

### Package Version

v2.16.17

### Laravel Version

v.9.31

### Livewire Version

v2.10.7

### PHP Version

PHP 8.1

### Problem description

Table items, even if reordering is disabled, render a hidden drag & drop handle with an svg icon, causing performance issues, since each svg takes quite a lot of memory. My page load takes 1s+ with these handles.

Another thing,

[2022-10-02 15:55] zepfietje commented on #4321
@danharrin, would it be possible to completely remove the reorder icons when reordering has not been enabled?

[2022-10-02 15:56] danharrin commented on #4321
I think we did that originally and then it caused DOM diffing issues so someone changed it in a PR

[2022-10-02 16:14] zepfietje commented on #4321
Could those diffing issues be resolved by adding proper `wire:key` attributes?

[2022-10-02 22:35] saifulapm opened #4329 "Reactivity issue with Select field with searchable()"
### Package

filament/forms

### Package Version

v2.16.19

### Laravel Version

v9.33.0

### Livewire Version

Latest

### PHP Version

v8.1.10

### Problem description

Hello, I did try whole day to fix this. I am sure this is a bug.

[code]

here `staff` should be enabled on `client` select but staff always staying disabled. If I remove `searchable()` from staff then it working fine.

### Expec

[2022-10-03 02:44] Z3d0X commented on #4329
Replace `->lazy()` with `->reactive()`

[2022-10-03 07:22] Sicklou commented on #4300
Sorry I didn't take a look

[2022-10-03 08:59] zepfietje commented on #4329
@ManojKiranAppathurai thanks for commenting.

This is indeed a duplicate of https://github.com/filamentphp/filament/issues/3566 and https://github.com/filamentphp/filament/issues/3068.

As it's hard to come up with a good solution, since it's a limitation with Choices.js, we've closed those issues as not planned.

I do see why you suggest to keep this issue open or pin it.
However, the bug report

[2022-10-03 08:59] #4329 closed

[2022-10-03 09:23] danharrin commented on #4329
I would suggest using hidden() instead of disabled() which will work dynamically

[2022-10-04 08:04] mikeldoka1 commented on #4177
I personally think this is the missing piece for filament. I will try and make use of plugins for now

[2022-10-04 08:29] danharrin commented on #4319
I can't reproduce this myself, and you've given no reproduction repository or code examples.

[2022-10-04 08:29] #4319 closed

[2022-10-04 15:46] enzorevo opened #4349 "DatePicker returns another date instead of the formatted one ->format("Y-m-d")"
### Package

filament/tables

### Package Version

v2.15.5

### Laravel Version

9

### Livewire Version

2.10

### PHP Version

8.1

### Problem description

use Filament\Forms\Components\DatePicker;
DatePicker::make('from')->format("Y-m-d")->displayFormat("Y-m-d")->default(date("Y-m-d", strtotime("-7 days")))

in $data the date is outputted with the format Y-m-d H:i:s

### Expected behavior

I e

[2022-10-04 17:09] zepfietje commented on #4349
The state of the date picker is stored as a `Carbon` instance.
That's why it includes the time part as well.

Also, please don't try to open an issue without a reproduction repository.

[2022-10-04 17:11] pxlrbt commented on #4349
The docs state:

That date isn't stored to the DB.

[2022-10-04 22:46] #4295 closed

[2022-10-04 22:47] danharrin commented on #4295
Fixed by #4360

[2022-10-05 13:18] SebastiaanKloos commented on #4178
@danharrin see #4372

[2022-10-06 05:23] plakhin commented on #1415
@danharrin, is it possible to open Edit Modal with the action? E.g. something like:
[code]

[2022-10-06 10:25] danharrin opened #4380 "Stop execution from lifecycle hooks"
### Discussed in https://github.com/filamentphp/filament/discussions/4302

<div type='discussions-op-text'>

<sup>Originally posted by **jcgmalave** September 30, 2022</sup>
Is it possible when using the beforecreate or before save function, to perform a validation and if it is fulfilled, send a notification and stop the execution of the create or save until it is corrected? and return to the main

[2022-10-06 10:51] #4304 closed

[2022-10-06 19:17] leo-unglaub opened #4398 "Filament does not use middleware group `web`"
### Package

filament/filament

### Package Version

v2.16.22

### Laravel Version

v9.34

### Livewire Version

_No response_

### PHP Version

PHP 8.1

### Problem description

All routes that belong to the admin panel are not put in the middleware group `web`. That's the reason the following default middlewares are not executed by default:

[code]

This causes an issue when people want to use a

[2022-10-06 19:19] danharrin commented on #4398
This is deliberate, we have our own middleware stack in the Filament config file

[2022-10-06 19:19] leo-unglaub commented on #4398
Is it possible to inject something in that stack?

[2022-10-06 19:24] leo-unglaub commented on #4398
So the best way to extend this is to export the config file and then extend the list? Or is there a better way of doing that?

[2022-10-06 19:24] danharrin commented on #4398
Yeah, because not everyone wants app middleware to be applied to their admin panel

[2022-10-07 09:23] danharrin commented on #3692
Confirmed, can only fix in v3 when we switch to a different markdown editor though. The reason why this doesn't work is because we need a `wire:ignore` to wrap around the entire editor.

[2022-10-07 09:37] danharrin commented on #4175
I've just tested this on my end, and your example code works

[2022-10-07 09:40] danharrin commented on #4175
So I'm going to reclose this. If you're still experiencing issues, please reply with a full reproduction repo that I can use to test with - including migrations and models and a seeder. Thanks.

[2022-10-07 09:40] #4175 closed

[2022-10-07 09:55] #4241 closed

[2022-10-07 10:39] #4256 closed

[2022-10-07 10:57] zepfietje commented on #4289
Hey @lloricode!
I've tried to run your reproduction repository, but it seems incomplete.
`Class "Filament\Pages\SettingsPage" not found`

Could you update the repository so we can reproduce the issue easily?

[2022-10-07 11:02] #4224 closed

[2022-10-07 11:15] #4301 closed

[2022-10-07 11:15] danharrin commented on #4301
Fixed by #4408.

[2022-10-07 11:34] #4310 closed

[2022-10-07 13:02] SarunasVenvow opened #4412 "PHPUnit fails with `Spatie\Permission\Exceptions\RoleDoesNotExist: There is no role named `medic`.`"
### Package

filament/filament

### Package Version

2.16.18

### Laravel Version

v8.83.25

### Livewire Version

v2.10.7

### PHP Version

8.1

### Problem description

PHPUnit started to fail after package `filament/filament` was updated from 2.13.14 -> 2.16.18 with errors:
[code]
In test I use different user permissions, like `patient`, `medic` etc. As a test database I use docker container wi

[2022-10-07 13:02] #4412 closed

[2022-10-07 13:11] #4178 closed

[2022-10-07 14:28] lloricode commented on #4289
Hi will check it

[2022-10-07 15:10] lloricode commented on #4289
hi @zepfietje, it already fix since i updated to filament `v2.16.23`, thank you for your time

[2022-10-07 15:10] #4289 closed

[2022-10-07 18:50] #4321 closed

[2022-10-07 18:51] danharrin commented on #4321
wire:key doesn't improve things in this case, and we can't wrap a <div> around a table cell. So we need to conditionally hide the content, which is ugly - #4416

[2022-10-07 19:01] #4214 closed

[2022-10-08 09:13] danharrin commented on #4235
Hey, I've fixed this in #4422.

`Filter::make()->columnSpan(3)` - this will now make the filter subform span 3 columns WITHIN the main filter form. So if your main filter form has 5 columns, this will span 60%.

`Filter::make()->columns(5)` - this will now make the filter CONTAIN 5 columns within it. So if you have 5 filter `form()` components, they will all be next to each other, taking up 20% of

[2022-10-08 09:13] #4235 closed

[2022-10-08 16:34] danharrin commented on #4088
Moved from v2 to v3, since it would be easiest to implement if we could change the `getUploadedFileUrls()` to `getUploadedFiles()` and return the URLs, and metadata like size & potentially file name if they're stored in a separate column

[2022-10-08 16:40] mohamedsabil83 commented on #4214
Great 👍🏽

[2022-10-08 16:49] #4176 closed

[2022-10-08 18:25] #4204 closed

[2022-10-08 19:06] #4266 closed

[2022-10-08 19:49] #4273 closed

[2022-10-08 21:30] #4380 closed

[2022-10-09 17:16] #4296 closed

[2022-10-09 20:23] #1415 closed

[2022-10-09 20:23] danharrin commented on #1415
@plakhin from #4445, you can use `->action(EditAction::make())`

[2022-10-10 06:55] molcsab opened #4451 "Table cell action duplication issue"
### Package

filament/tables

### Package Version

v2.16.26

### Laravel Version

v9.34.0

### Livewire Version

v2.10.7

### PHP Version

8.1.3

### Problem description

I am defining a table cell action in a resource, but the action also appears in the action section at the end of the table.
![Cell Action Bug](https://user-images.githubusercontent.com/513356/194811859-4b6d0f21-301a-4473-a20e-59d

[2022-10-10 08:23] pascalvgemert opened #4452 "The searchable select doesn't show a red border on error."
### Package

filament/forms

### Package Version

v2.16.7

### Laravel Version

v9.31.0

### Livewire Version

v2.10.7

### PHP Version

PHP 8.1.5

### Problem description

When a searchable select is not filled in, it will show a error message below. The label turns red, but the select / input itself does NOT show red border.

It looks like the component found [here](https://github.com/filamentph

[2022-10-10 08:25] #4239 closed

[2022-10-10 08:36] #4452 closed, assigned to nobody

[2022-10-10 08:46] #4451 closed, assigned to nobody

[2022-10-10 08:47] danharrin commented on #4451
Fixed by #4454.

[2022-10-11 10:42] zepfietje opened #4475 "DRIVER .env -> DISK"

[2022-10-11 10:43] #4475 closed, assigned to zepfietje

[2022-10-11 10:48] zepfietje opened #4476 "Rename filters layout popover to dropdown"

[2022-10-11 10:58] danharrin opened #4477 "Remove deprecated properties and methods"

[2022-10-11 11:06] danharrin commented on #4477
I am not just removing all deprecated things... if they are simple aliases that don't add technical debt then they will stay indefinitely.

[2022-10-11 11:31] zepfietje opened #4479 "Remove isAfterRedirect parameters from notifications"

[2022-10-11 12:22] #4476 closed, assigned to zepfietje

[2022-10-11 12:23] #4479 closed, assigned to zepfietje

[2022-10-11 12:23] #4477 closed, assigned to danharrin

[2022-10-11 20:59] zepfietje opened #4490 "Upgrade Blade Heroicons"

[2022-10-12 08:10] rowdy4e opened #4496 "Wizard component validation"
### Package

filament/filament

### Package Version

v2.16.31

### Laravel Version

9.35.1

### Livewire Version

_No response_

### PHP Version

8.1.11

### Problem description

Wizard component returns to the last step even though there are errors from validations in the previous steps.

### Expected behavior

The wizard should leave you at the step where the validation is performed(if there is

[2022-10-12 08:46] SebastiaanKloos opened #4497 "Plus button overlapping with select dropdown"
### Package

filament/filament

### Package Version

v2.16.24

### Laravel Version

9.34.0

### Livewire Version

v2.10.7

### PHP Version

8.1.7

### Problem description

![CleanShot 2022-10-12 at 10 24 56](https://user-images.githubusercontent.com/6506510/195295683-3fde3d4b-6bcd-4555-8ddc-6cd8a49cbafd.jpeg)

### Expected behavior

Components not overlapping

### Steps to reproduce

Create a buil

[2022-10-12 09:06] #4497 closed, assigned to zepfietje

[2022-10-12 12:54] zepfietje opened #4502 "Remove dropdown item Blade component"
The dropdown item component was added for backward compatibility when it moved into the dropdown list folder: https://github.com/filamentphp/filament/pull/3853#issuecomment-1248550556.

Also remove the `filament-dropdown-item` CSS class and keep `filament-dropdown-list-item`.

[2022-10-12 15:56] #4502 closed, assigned to zepfietje

[2022-10-12 17:33] awcodes commented on #4207
@danharrin

I think i have this fixed, but there is also an issue related to this with the markdown component that is doing the same thing where is it not clearing after clicking create and create another.

The markdown component is erroring causing it to not update it's internal state.

Would you like me to include that fix in the PR for this issue or create it as a separate PR.

[2022-10-12 19:26] zepfietje commented on #4207
Preferably keep PRs separate for different issues, @awcodes.

[2022-10-12 19:32] awcodes commented on #4207
Fair, but there isn't another actual issue for the markdown editor, and since it's related to the same issue I wasn't sure.

[2022-10-12 19:50] zepfietje commented on #4207
Fair, in this case both could be fine I guess.

[2022-10-12 23:44] hamzaelmaghari opened #4509 "tgalopin/html-sanitizer is abandoned."
### Package

filament/filament

### Package Version

v2

### Laravel Version

v9

### Livewire Version

v2

### PHP Version

V8.2

### Problem description

When installing Filament the composer says that a package tgalopin/html-sanitizer is abandoned. I thought that this may cause a security problem in the future.

### Expected behavior

No errors

### Steps to reproduce

➜ laravel new marketplace

[2022-10-12 23:44] #4509 closed, assigned to nobody

[2022-10-13 07:16] zepfietje commented on #4509
Hey @hamzaelmaghari, thanks for opening an issue!

This is a known warning.
However, we can't upgrade to `symfony/html-sanitizer`, because its PHP 8.1 only, while we still support PHP 8.

[2022-10-13 07:47] kengheng1024 opened #4513 "Table searchable() is not query correctly"
### Package

filament/tables

### Package Version

v2.16

### Laravel Version

v9.19

### Livewire Version

NA

### PHP Version

PHP 8.1.11

### Problem description

The searchable in the table is not return the correct results. I've a country table with Code and Name, the Code column is alpha-2 code, both columns has turned on the searchable() method.

    If I query "US" in the search field, the

[2022-10-13 07:48] #4513 closed, assigned to nobody

[2022-10-13 07:59] danharrin commented on #4509
Also, the original library has been around for years, is very stable, and `symfony/html-sanitizer` was built on top of it. I don't think there is a real security risk there.

[2022-10-13 12:08] #4490 closed, assigned to zepfietje

[2022-10-13 12:09] #4194 closed

[2022-10-13 12:51] hamzaelmaghari commented on #4509
Understood guys.
Thanks

[2022-10-13 13:44] tiagofcp opened #4518 "Persistent Filters with QueryString filters issue"
### Package

filament/tables

### Package Version

latest

### Laravel Version

latest

### Livewire Version

latest

### PHP Version

8.1

### Problem description

When we use persistent filters the filters are saved to session but if we try to open a table with query string, the table should open with the filters from query string, instead its using the latest filters saved on the session

### E

[2022-10-13 20:06] zozulinskyi opened #4532 "Cannot sendSuccessNotification"
### Package

filament/filament

### Package Version

v2.16.32

### Laravel Version

v.9.35

### Livewire Version

_No response_

### PHP Version

PHP 8.1.10

### Problem description

I have a custom page actions. My code is
[code]

In previous version this code successfully worked. But, after update filament to latest version, a have next problem:

When I remove calling `sendSuccessNotification` m

[2022-10-13 20:07] #4532 closed, assigned to nobody

[2022-10-13 21:44] danharrin commented on #4532
`sendSuccessNotification()` is an internal API, you should use `Notification::make()->send()` like normal.

[2022-10-13 21:44] egyjs opened #4534 "file-upload not reactive when change the acceptedFileTypes dynamically"
### Package

filament/filament

### Package Version

v2.16.32

### Laravel Version

v9.35.1

### Livewire Version

_No response_

### PHP Version

V8.1

### Problem description

i have an issue
my code:
[code]
also I have a `reactive` Radio Field
[code]
,
the issue is that: when i change the value of the `radio` Field, it wont change the `acceptedFileTypes` of the `fileUpload` Field

### Expected

[2022-10-13 22:00] anatolyeltsov opened #4535 "Searchable select runs unnecessary queries"
### Package

filament/filament

### Package Version

v2.16.32

### Laravel Version

v9.35.1

### Livewire Version

_No response_

### PHP Version

PHP 8.1.8

### Problem description

Unnecessary queries.
Or maybe I've misunderstood docs and doing something completely wrong?

### Expected behavior

No unnecessary queries.

### Steps to reproduce

Noticed it in my project and reproduced on clean ins

[2022-10-14 07:26] zepfietje commented on #4535
Hey @anatolyeltsov!

Case 3.4 can be solved by wrapping the options in a closure:

[code]

The duplicate queries occur due to the options argument being called multiple times internally. Wrapping it in a closure makes sure it's only evaluated once.

[2022-10-14 08:31] zepfietje opened #4536 "Fix icon size and color"
## Size

- [x] `.filament-modal-close-button`: `h-5 w-5`
- [x] `.filament-tables-header-cell-sort-icon`: `h-5 w-5`
- [x] `.filament-notifications-close-button`: `h-5 w-5`

## Color

- [x] `.filament-tables-filters-trigger`
- [x] `.filament-tables-column-toggling-trigger`

[2022-10-14 08:32] zepfietje opened #4537 "Font size tweaks"
https://github.com/filamentphp/filament/pull/4046

---

- [ ] filament-global-search-input

[2022-10-14 09:05] twaydevelopment commented on #4131
Similar error.
Also the fields remain empty.
I have to reload the page.

![image](https://user-images.githubusercontent.com/84721502/195808109-ba1c3cae-b238-4143-a1a6-baaeb7efe780.png)

[2022-10-14 09:43] anatolyeltsov commented on #4535
@zepfietje yeah, but then it's like 3.3 - with issue on create/edit page

[2022-10-14 14:51] zepfietje commented on #3916
Done for v3: https://github.com/filamentphp/filament/issues/4490.

[2022-10-14 14:51] #3916 closed

[2022-10-14 15:11] luilliarcec opened #4540 "Hint action missing in inline field wrapper"
### Package

filament/forms

### Package Version

v2.16.32

### Laravel Version

v9.35.1

### Livewire Version

_No response_

### PHP Version

PHP 8.1

### Problem description

When using inlineLabel on a card for forms, it throws the Undefined variable $hintAction error.

### Expected behavior

-

### Steps to reproduce

`inlineLabel` must be added to the card that wraps the forms schema.

It se

[2022-10-14 16:49] otilor opened #4541 "Error when retrieving chart data for distinct column"
### Package

filament/filament

### Package Version

v2.16.7

### Laravel Version

v9.21.4

### Livewire Version

v2.10.7

### PHP Version

PHP 8.1.0

### Problem description

When trying to retrieve unique attendees of an event. I'm using this query:
[code]

It works on its own but when using it in this chart widget;
[code]

I get this error:

[code]

### Expected behavior

Retrieve the data succ

[2022-10-14 16:56] zepfietje commented on #4541
@humaneguy, this doesn't seem like an issue with Filament? You might want to report the error on the [trends package repo](https://github.com/Flowframe/laravel-trend).

[2022-10-14 16:56] #4541 closed, assigned to nobody

[2022-10-14 17:11] #4540 closed, assigned to zepfietje

[2022-10-15 02:39] bokoch commented on #4131
Currently I'm using such fix:
<img width="790" alt="image" src="https://user-images.githubusercontent.com/9802540/195965067-c89707fc-a3a0-40a6-ad36-4ccedd2c2a16.png">
[code]
I found it here in older issues. As I understand, It is refreshing table on modal close action. And it is worked for me. However it is not really good solution, because I need to override tables/index.blade.php file, and with

[2022-10-15 09:25] zepfietje commented on #3906
I can't reproduce the issue.

Could you add a seeder and clear steps to reproduce the problem using your reproduction repository?

[2022-10-15 09:32] zepfietje commented on #4496
Reproducible on Chromium macOS (not on Safari).

[2022-10-15 15:48] awcodes commented on #4537
What needs to be done with this?

[2022-10-15 16:44] zepfietje commented on #4537
This issue exists as a reference to the PR that was reverted in v2.
Opened this to keep track of elements that need their font size tweaked to match Tailwind UI.

Since I created the original PR, I can handle a new one for this as well. 👍

[2022-10-15 19:50] awcodes commented on #4537
No worries. Was just having trouble following the thread back across issues and PRs.

[2022-10-15 20:25] zepfietje opened #4559 "Topbar render hooks"

[2022-10-15 20:46] #4559 closed, assigned to zepfietje

[2022-10-16 17:53] danharrin commented on #4534
Unfortunately this is a Livewire limitation that I am unable to fix at the moment. I am in contact with Caleb and I have proposed a solution for Livewire v3. Many methods on JS-based form fields are not reactive at the moment.

As a quick solution, you can skip `acceptedFileTypes()` and use `rules([''])` to apply Laravel Validation rules to the field (mime type check?), which won't be passed onto

[2022-10-16 17:53] #4534 closed, assigned to nobody

[2022-10-16 20:14] LukasJK commented on #4496
Reproducible on Chrome Windows when there are 3 or more wizard steps. Works fine with just 2

[2022-10-17 02:26] AbanoubNassem opened #4570 "make:filament commands doesn't use the configuration file"
### Package

filament/filament

### Package Version

v2.0.0

### Laravel Version

v9.0.0

### Livewire Version

_No response_

### PHP Version

PHP 8.1

### Problem description

when changing the  `path` and `namespace` of  `pages`,`resources`,`widgets`  inside `filament.php` , it should generate the files in the correct `path` with the correct `namespace`:

[code]

but it doesn't work it still ge

[2022-10-17 06:10] rowdy4e opened #4572 "Actions with slideover - padding"
### Package

filament/filament

### Package Version

v2.16.33

### Laravel Version

9.35.1

### Livewire Version

_No response_

### PHP Version

8.1.11

### Problem description

I noticed that this problem was already solved in the older version, but in the latest version the problem reappeared.

Somehow the `->slideOver()` function behaves strangely for all Action classes. Even though it is defi

[2022-10-17 08:58] zepfietje commented on #4572
Thanks for reporting, @rowdy4e!

So, apparently the table action is `null` at the point the modal gets constructed, which leads to the slide-over prop defaulting to its `false` value:
[code]

Any idea how this might have changed recently, @danharrin?

[2022-10-17 10:20] danharrin commented on #4572
uh nope

[2022-10-17 10:22] otilor commented on #4541
Thanks @zepfietje

[2022-10-17 11:06] zepfietje commented on #4572
@rowdy4e, what's the latest Filament version when it still worked fine?

[2022-10-17 12:02] rowdy4e commented on #4572
@zepfietje I'm not sure now, but I may have confused it with the fact that notifications had this bug.

[2022-10-17 14:47] zepfietje commented on #4572
Ah fair. It might have been broken for tables all along...

[2022-10-17 16:45] joaovdiasb commented on #3906
Video of reproduction https://drive.google.com/file/d/15Sf1EZagEBxkIO2927sa3jlzM461wmyz/view?usp=sharing

already have the data in factory
php artisan migrate:fresh --seed

[2022-10-17 23:22] nunoxavier commented on #3906
@zepfietje I'm currently having similar issues (not entirely related to the RichEditor), you can reproduce it on the current Filament demo
[https://demo.filamentphp.com/shop/brands/20/edit?activeRelationManager=0](https://demo.filamentphp.com/shop/brands/20/edit?activeRelationManager=0)

Steps:
1. click on one item from the products list, then click outside the modal
2. click on another item from

[2022-10-17 23:34] miomech opened #4589 "->html->limit(x) or ->limit(x)->html() will override each other when used on column"
### Package

filament/tables

### Package Version

2.16.34

### Laravel Version

9.35

### Livewire Version

2.10.7

### PHP Version

PHP 8.1

### Problem description

When the method html and limit are chained they override each other

`->html()->limit(30)`
produces nonhtml with a limit of 30.

when this is used
`->limit(30)->html()`
it produces nonlimited html that does not get truncated at 30

[2022-10-18 08:59] OvalMedia opened #4593 "Cannot declare class GeneralSettings, because the name is already in use"
### Package

filament/spatie-laravel-settings-plugin

### Package Version

v2.16.29

### Laravel Version

v9.34.0

### Livewire Version

_No response_

### PHP Version

PHP 8.1.11

### Problem description

I followed the docs (https://filamentphp.com/docs/2.x/spatie-laravel-settings-plugin/getting-started) and created a GeneralSettings class in app/Settings. After having prepared all that I create

[2022-10-18 08:59] #4593 closed, assigned to nobody

[2022-10-18 09:06] OvalMedia commented on #4593
Ok, somewhat a lack of documentation on your side and lack of coffe on mine.
Forgot to set a namespace in my settings class:

[code]

[2022-10-18 10:24] zepfietje commented on #4593
How could the documentation be improved, @OvalMedia? 🙂

[2022-10-18 10:28] OvalMedia commented on #4593
It might be an issue of the settings project itself. Already noted here: https://github.com/spatie/laravel-settings/issues/158
The whole file should be cited instead of only the class definition. I get it, it is not this project also I am a bit slow in the head.

[2022-10-18 10:31] zepfietje commented on #4593
Thanks for clarifying!

[2022-10-18 10:46] G3z opened #4595 "when editing a ColorPicker the value is not loaded"
### Package

filament/forms

### Package Version

v2.16.34

### Laravel Version

v9.35.1

### Livewire Version

_No response_

### PHP Version

PHP 8.1.11

### Problem description

`Filament\Forms\Components\ColorPicker` doesn't load the current state and when opened.
It always starts with a default color (black) even if the preview square on the right of the input shows the correct value
![Scherm

[2022-10-18 14:13] zepfietje commented on #4589
Internally `formatStateUsing()` is used for both `limit()` and `html()`, causing this issue.

[2022-10-18 14:19] joaovdiasb commented on #3906
Yes, I've had this problem with Select too, outside the relation manager, normal table.

[2022-10-18 15:37] #4595 closed, assigned to nobody

[2022-10-19 10:32] rossjump24 opened #4613 "Tags Input Field Not Rendering"
### Package

filament/filament

### Package Version

v2.15.45

### Laravel Version

v9.20.0

### Livewire Version

v2.10.7

### PHP Version

PHP 8.1.9

### Problem description

On a particular resource (Podcast) the `Forms\Components\TagsInput` or the `Forms\Components\SpatieTagsInput` field are not rendering.

They fine work on other resources and there aren't any PHP or JS errors. I can also con

[2022-10-19 11:38] RickDBCN opened #4614 "Pages with widgets not working for print"
### Package

filament/filament

### Package Version

v2.16.4

### Laravel Version

v9.x

### Livewire Version

v2.x

### PHP Version

8.1x

### Problem description

On pages with widgets the tab crashes in Chrome. On demo dashboard page, using CTRL + P attempts to print 29000 pages.

### Expected behavior

Preview 1 or 2 pages and no crash when printing

### Steps to reproduce

- Go to https://dem

[2022-10-19 12:10] plakhin commented on #1415
Works great! Thanks!

[2022-10-19 12:10] danharrin commented on #4614
Any specific types of widgets? Maybe charts?

[2022-10-19 12:15] buzkall opened #4619 "The list view makes queries that are in the form function"
### Package

filament/filament

### Package Version

2.16.33

### Laravel Version

9.35.1

### Livewire Version

_No response_

### PHP Version

8.1.11

### Problem description

When viewing the list page of a resource, debugbar shows queries that aren't in the table function, but on the form function.

For example, if the form has a Select and a query is made to define the select options, the que

[2022-10-19 12:18] buzkall opened #4620 "Double request when adding a new item in a repeater field"
### Package

filament/filament

### Package Version

v2.16.33

### Laravel Version

9.35.1

### Livewire Version

_No response_

### PHP Version

8.1.11

### Problem description

When clicking on the "Add to external links" in the Repeater field, to calls are done and if the user has selected something in the fields of the repeater, will be lost

### Expected behavior

Just one call

### Steps to

[2022-10-19 12:26] zepfietje commented on #4619
Retrieving select options from the database should be wrapped in a closure to prevent it from being called multiple times internally:
[code]

[2022-10-19 12:26] #4619 closed, assigned to nobody

[2022-10-19 12:28] danharrin commented on #4619
And this has been fixed in v3, so you don't need to use the callback then 👍

[2022-10-19 12:32] RickDBCN commented on #4614
I have reason to believe it only applies to table widgets. Chart and text-only blade widgets are working fine. As soon as there is a table widget, it breaks.

Normal table pages are fine.

[2022-10-19 12:37] danharrin commented on #4614
So table widgets break, but not list pages? Which both use the same code?

[2022-10-19 12:43] zepfietje commented on #4614
Can confirm it's the table widget causing the issue. List pages work fine.

[2022-10-19 12:45] RickDBCN commented on #4614
List pages won't render the table on print. See preview:
![image](https://user-images.githubusercontent.com/9408120/196694345-23c1f535-205a-4064-a3f3-a87918344db4.png)

[2022-10-19 12:48] zepfietje commented on #4614
Works fine in Safari. Firefox just shows an empty page.

[2022-10-19 16:05] #4164 closed

[2022-10-19 18:45] SerhiiMandrykin opened #4637 "Update heroicons to the newest version"
### Package

filament/forms

### Package Version

v2.16.32

### Laravel Version

v.9.35.1

### Livewire Version

_No response_

### PHP Version

8.1

### Problem description

Some icons can't be used because of old version of the heroicons.

For example, try the icon `protected static ?string $navigationIcon = 'heroicon-o-document-chart-bar';`

The error:
![image](https://user-images.githubusercon

[2022-10-19 18:45] #4637 closed, assigned to nobody

[2022-10-19 18:56] zepfietje commented on #4637
https://github.com/filamentphp/filament/issues/3916

[2022-10-19 18:58] zepfietje commented on #4637
https://v1.heroicons.com

`document-report` is the icon you're looking for in Heroicons v1.

[2022-10-20 04:51] Nuhel commented on #4614
For me https://demo.filamentphp.com/ pages working fine in safari and firefox on both mobile and macbook.

And for chrome its breaks in macbook.
But for mobile in some model it works in chrome.

May be there is some issue with css as google chrome team adding new features for css3.

[2022-10-20 06:41] SerhiiMandrykin commented on #4637
Thank you

[2022-10-20 08:03] Congminh7799 opened #4642 "Couldn't find class Filament\Tables\Columns\Layout\View"
### Package

filament/tables

### Package Version

2.16

### Laravel Version

9.19

### Livewire Version

_No response_

### PHP Version

8.0.2

### Problem description

I Couldn't find class Filament\Tables\Columns\Layout\View when use in List.

### Expected behavior

I want to use class Filament\Tables\Columns\Layout\View
Same as below!
![image](https://user-images.githubusercontent.com/10680065

[2022-10-20 08:03] #4642 closed, assigned to nobody

[2022-10-20 08:16] danharrin commented on #4642
`composer update`

[2022-10-20 10:03] Z3d0X commented on #4589
Even if multiple `->formatStateUsing()` calls are supported, cropping in a html string could result in a middle of a tag?

[2022-10-20 10:27] danharrin commented on #4589
Yeah, limiting HTML is a bad idea anyway

[2022-10-20 11:03] G3z opened #4645 "When using a colorpicker in a repeater with a "simple" resource it works once"
### Package

filament/filament

### Package Version

v2.16.35

### Laravel Version

v9.35.1

### Livewire Version

_No response_

### PHP Version

PHP 8.1.11

### Problem description

When a colorpicker is inside of a repeater and that form is presenter in a simple resource only the first modal has working pickers in edit mode.
[code]

### Expected behavior

when editing every picker should work

[2022-10-20 13:18] Nuhel commented on #4589
Not only html or limit will override eachother. any function that call formatStateUsing internally will override the previous one.

Ant limiting html string I also think not a good idea, It can break the whole html.

But if u are sure that limit will not break html, than I think using formatStateUsing method will be a good idea.

[2022-10-20 14:02] danharrin commented on #4589
I think the `formatStateUsing()` pattern is fine at the moment, I don't see how it would clash in sensible cases.

[2022-10-20 14:02] #4589 closed, assigned to nobody

[2022-10-20 20:04] zepfietje opened #4657 "Remove dark mode config"
In favor of Tailwind `darkMode: 'class'`.

[2022-10-20 22:53] zepfietje opened #4660 "Remove required asterisk for disabled field"

[2022-10-21 10:41] zepfietje opened #4662 "Extract brand theme"
https://discord.com/channels/883083792112300104/883264995603935273/1028262843457486909

[2022-10-22 10:58] #4657 closed, assigned to zepfietje

[2022-10-22 10:59] #4660 closed, assigned to zepfietje

[2022-10-22 17:10] awcodes commented on #4131
@danharrin Seems this issue caused by having wire:key on the modal itself. It's also affecting page actions too.

Is there a specific reason to have the wire:key on the modals with mounted actions?

[2022-10-22 18:05] emmadesilva opened #4678 "Hidden widgets still take up visible space"
### Package

filament/filament

### Package Version

v2.16.36

### Laravel Version

v9.36.4

### Livewire Version

v2.10.7

### PHP Version

8.1.10

### Problem description

When a widget is set in the `getHeaderWidgets` array, but the widget's `canView` method returns false, the `filament-widgets-container` component is still present in the DOM, while it is empty, it still takes up visible vertic

[2022-10-22 18:07] emmadesilva commented on #4678
I don't think this issue is missing any information.

[2022-10-22 19:40] themahdavi opened #4680 "Select all button still shows after selecting when filtered"
### Package

filament/tables

### Package Version

2.16.36

### Laravel Version

9.36.4

### Livewire Version

2.10.6

### PHP Version

8.1.9

### Problem description

When select all searching and filtering result don't disappear Select All action

![image](https://user-images.githubusercontent.com/31320104/197359350-0072c083-c23b-46bb-9798-287344b8f3bd.png)

### Expected behavior

search or filt

[2022-10-22 19:54] #4572 closed, assigned to awcodes

[2022-10-22 20:34] realslimsutton opened #4682 "Cannot send notifications on the boot method of a service provider"
### Package

filament/notifications

### Package Version

2.16.36

### Laravel Version

9.36.4

### Livewire Version

2.10.7

### PHP Version

8.1.11

### Problem description

When sending a notification on a boot method in a service provider, the notification is not always displayed for the user. I have confirmed that the notification is in fact pushed to the `filament.notifications` session arra

[2022-10-22 22:31] hamzaelmaghari opened #4684 "core_path customization doesn't work"
### Package

filament/filament

### Package Version

V2

### Laravel Version

v9

### Livewire Version

V2

### PHP Version

8.1

### Problem description

When trying to customize Filament core_path or pages namespace or anything in the `config/filament.php` it doesn't work.

When I go to APP folder I find `App\Filament\Pages\X.php` instead of `App\Custom\Pages\X.php`.

Please double check this.

[2022-10-23 00:40] #4684 closed, assigned to nobody

[2022-10-23 02:05] awcodes commented on #4682
Would this not be better executed in middleware? It just sounds like a system level thing that is not dependent on filament, as I understand you're explanation. Otherwise it works in the context of filament admin. Boot in service provider is not the right place to execute such logic.

[2022-10-23 02:19] realslimsutton commented on #4682
Middleware would be an ideal place but in this instance it's a modular system to separate the code, which boots various service providers. Loading the service providers in the middleware would be too late in the request lifecycle.
In the scenario that an error occurs during the boot of a service provider (or module) it'd send a notification. Which is fine as long as they're on the admin panel but

[2022-10-23 02:40] awcodes commented on #4682
So you need to display a notification without filament, because there is no guarantee, AFAIK, in Laravel to guarantee boot order. So, should the notification be handled at run time or pushed to something like the db notifications? I'm just not sure this is an issue with Filament. I could be wrong though.

[2022-10-23 02:47] realslimsutton commented on #4682
From what I could tell from the code, sending a notification just pushes the notification into the session. Then they're loaded when a notification livewire component is loaded, so loading order shouldn't be an issue here imo. I wasn't sure if this was an actual issue or intentional or not when I made the issue but I figure worst case someone could clarify for me.

DB notifications could be a solu

[2022-10-23 10:22] zepfietje commented on #4678
@caendesilva, could you confirm if https://github.com/filamentphp/filament/pull/4690 fixes your issue?

[2022-10-23 10:28] emmadesilva commented on #4678
Sure thing, give me a second.

[2022-10-23 10:28] zepfietje commented on #4682
@realslimsutton could you clarify this?

[2022-10-23 10:31] emmadesilva commented on #4678
Works great! Thanks!

[2022-10-23 10:35] zepfietje commented on #4678
Thanks for testing!

[2022-10-23 13:09] emmadesilva commented on #4682
Yeah, like awcodes said, I don't think you can rely on the service providers to boot in a certain order. Without knowing for sure, I would guess that the order is random since you are getting unpredictable results. Some Filament provider required by the notification service doesn't always get booted before yours.

Like it's also been said, I don't think a service provider is what you want for this

[2022-10-23 13:31] zepfietje commented on #4682
Thanks for commenting, @caendesilva. I wanted to comment something similar, but was confused since @realslimsutton stated the notification was always added to the session (even when not visible on the page). If that's the case, it must be related to something like a page reload / redirect resulting in the notification being removed from the session.

Again, I'm quite sure this is not an issue with

[2022-10-23 13:31] #4682 closed, assigned to nobody

[2022-10-23 15:24] themahdavi commented on #4680
Hey @zepfietje On Products list do this steps:

1. Search `glov` on global search of table
2. show 4 results
3. click on checkbox for check all
4. see this :
![image](https://user-images.githubusercontent.com/31320104/197400697-ffc72b3d-8392-4e74-9dab-34f2e6ef0e8c.png)
5. click on `Select all 4` and then show this action again and not disappear

[2022-10-24 08:18] zepfietje commented on #4680
Ah, I see what you mean now, @themahdavi. You'd expect the `Select all 4` link to disappear similar to how this happens without searching/filtering. Definitely a bug. Thanks for reporting.

[2022-10-24 09:08] #4678 closed, assigned to nobody

[2022-10-24 15:23] theo-hrd opened #4704 "Stuck on 403 forbidden if a user is not an admin (with gates)"
### Package

filament/filament

### Package Version

2.0.0

### Laravel Version

9.31

### Livewire Version

2.0

### PHP Version

8.1.9

### Problem description

I'm trying to log a user by checking with gates.

I defined my gate in the AuthServiceProvider as such:
[code]

When I'm using the function canAccessFilament(), I do this:
[code]

Next, I try to connect a non admin user, and get stuck on

[2022-10-24 15:24] #4704 closed, assigned to nobody

[2022-10-24 15:32] theo-hrd commented on #4704
Sorry I'm not able to provide the repository since it's a school project and I'm not able to change the repository visibility.

[2022-10-24 15:53] danharrin commented on #4704
**Please do not link to your actual project**, what we need instead is a _minimal_ reproduction in a fresh project without any unnecessary code. This means it doesn't matter if your real project is private/confidential, since we want a link to a separate, isolated reproduction anyways.

[2022-10-24 16:42] theo-hrd commented on #4704
Alright I found what was causing the fact that I was stuck on forbidden:

First, I removed all view in my project since it's an API, and did not need any view to logout. So it's a really particular case.

And if people are in the same case, I changed this:
[code]

to:
[code]

[2022-10-24 18:29] themahdavi commented on #4680
I apologize for my language. my English is bad

[2022-10-25 07:50] zepfietje commented on #4680
No worries, @themahdavi. Your latest steps were clear!

[2022-10-25 17:22] adampatterson opened #4711 "Editing using a modal causes issues with input display"
### Package

filament/forms

### Package Version

v2.16.35

### Laravel Version

v9.36.4

### Livewire Version

v2.10.7

### PHP Version

8.0.22

### Problem description

I have a settings table that contains `key, value, data_type`.

In my form I am using a match within the schema method to load the proper Field based on `data_type`

[code]

My test data includes each form field that will be used

[2022-10-25 20:22] loanbesson opened #4713 "The CreateAction.php always returns $record to null in any ResourceManager."
### Package

filament/filament

### Package Version

v2.16.36

### Laravel Version

v9.37.0

### Livewire Version

v2.10.7

### PHP Version

PHP 8.1.11

### Problem description

The CreateAction.php always returns $record to null.

To fix this problem, I have commented out the `$this->record(null);` on line 70 in `vendor/filament/src/Pages/Actions/CreateAction.php`.

### Expected behavior

I thoug

[2022-10-26 11:48] #4074 closed

[2022-10-26 11:48] #4073 closed

[2022-10-26 23:50] blite commented on #4304
So found the likely reason this was maybe configured as private always:

with S3 there seems to be no vary: origin header if you didn't send an origin header originally.  https://stackoverflow.com/questions/31732533/s3-cors-always-send-vary-origin

So if you don't first retrieve the image with cors ie using ImageColumn, then retrieve it in FileUpload using cors, the second time it won't load with

[2022-10-27 08:16] danharrin commented on #4304
But it still works out of the box if you use `visibility('private')`, right? Because S3 still allows generating temporary URLs for public images

[2022-10-27 12:48] #4570 closed, assigned to nobody

[2022-10-27 14:48] blite commented on #4304
I use public which is the default, private fixes this, and likely this explains why private was basically permanently on internally.

The tldr is that regular public urls cache a non cors version which then breaks the cors loaded image in filepond.

Overall with this extra attribute it is better performance because of no extra s3 calls. The bug is very hard to debug because having devtools open ne

[2022-10-27 15:19] danharrin commented on #4304
Do you think the attribute should just be present on all images by default?

[2022-10-27 16:07] blite commented on #4304
maybe, but it might need to handle the case for changing crossorigin to "use-credentials" https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/crossorigin.  Also, it could cause bugs with images where you don't have a cors policy on the host they are served from (say you aren't using fileupload control at all).

[2022-10-29 01:12] Ashk2a opened #4748 "Component wildcard and subdirectories"
### Package

filament/filament

### Package Version

v2.16.36

### Laravel Version

v9.37.0

### Livewire Version

v2.10.7

### PHP Version

PHP 8.1.10

### Problem description

I see [this recent PR](https://github.com/filamentphp/filament/pull/3512#issue-1339467293), it's working well except when components (resources/widgets/pages) are in a subdirectory.

### Expected behavior

Same behaviour e

[2022-10-30 15:10] makhweeb opened #4757 "KeyValue field does not work properly with the i18n plugin"
### Package

filament/forms

### Package Version

v2.16.36

### Laravel Version

v9.37.0

### Livewire Version

v2.10.7

### PHP Version

PHP 8.1.0

### Problem description

KeyValue field stores content without language keys in the database. (using filamentphp/spatie-laravel-translatable-plugin)

### Expected behavior

-

### Steps to reproduce

-

### Reproduction repository

-

### Relevant log

[2022-10-30 15:11] #4757 closed, assigned to nobody

[2022-10-30 15:22] awcodes commented on #4711
This has been resolved and will be in the next release.

Thanks.

[2022-10-30 15:22] #4711 closed, assigned to awcodes

[2022-10-30 15:53] awcodes commented on #4645
This is working correctly for me, with your repo.

![Screen Shot 2022-10-30 at 11 50 22 AM](https://user-images.githubusercontent.com/3596800/198888334-4837f516-55bc-48f2-ae3b-d805cded7d95.png)

[2022-10-30 16:25] awcodes commented on #4620
It is making 2 calls because your Select field is set to preload. Preload has to make it's own call each time it is re-rendered by Livewire because it's options could be dependent on the value of another field.

[2022-10-30 16:25] #4620 closed, assigned to nobody

[2022-10-30 16:29] awcodes commented on #4613
Please provide a working minimal repo.

[2022-10-30 16:34] danharrin commented on #4620
@awcodes does that explain "if the user has selected something in the fields of the repeater"?

[2022-10-30 16:36] awcodes commented on #4620
@danharrin I could not replicate anything happening in the fields. Nothing disappeared or changed during testing.

[2022-10-30 16:51] G3z commented on #4645
I tried again and recorded  a video with chrome
just to be clear: it's the second modal that's empty
https://user-images.githubusercontent.com/875086/198890922-cd77a740-fa30-44ab-8c44-6e2ec702f027.mov

[2022-10-30 17:00] awcodes commented on #4645
Thank you for explaining in more detail. I'll investigate further.

[2022-10-30 17:01] adampatterson commented on #4711
Thanks!

[2022-10-30 18:39] zepfietje opened #4760 "Tweak UI"
## Tasks

- [ ] Check styling
- [ ] Add CSS hook classes

## Views

- [ ] Table summaries views
- [ ] actions/resources/views/button-action.blade.php
- [ ] actions/resources/views/components/action.blade.php
- [ ] actions/resources/views/components/actions.blade.php
- [ ] actions/resources/views/components/group.blade.php
- [ ] actions/resources/views/group.blade.php
- [ ] actions/resources/views/

[2022-10-30 20:27] #4680 closed, assigned to nobody

[2022-10-31 03:12] makhweeb commented on #4757
@danharrin

[2022-10-31 08:07] danharrin commented on #4757
No, report the issue properly and we will have a look at it. Writing one sentence is not helpful.

[2022-10-31 08:26] danharrin commented on #4620
@buzkall if you could maybe confirm which browser you replicated this on that would be great, and double check it still happens in the latest Filament version with your reproduction repo

[2022-10-31 18:48] hsul4n opened #4767 "Repeater loads wrong relationship model"
### Package

filament/forms

### Package Version

v2.0.16.37

### Laravel Version

v9.37.0

### Livewire Version

v2.10.7

### PHP Version

PHP 8.1

### Problem description

There's an issue when opening `AddressResource` form using `createOptionForm()` action button.

[code]

### Expected behavior

The relation show loaded based on `Address` not `Foo` model

### Steps to reproduce

Just press the

[2022-10-31 18:48] #4767 closed, assigned to nobody

[2022-10-31 18:51] hsul4n commented on #4767
Updated

[2022-10-31 18:53] hsul4n opened #4768 "Repeater loads wrong relationship model"
### Package

filament/forms

### Package Version

v2.0.16.37

### Laravel Version

v9.37.0

### Livewire Version

v2.10.7

### PHP Version

PHP 8.1

### Problem description

There's an issue when opening `AddressResource` form using `createOptionForm()` action button.

[code]

### Expected behavior

The relation should load using `Address` not `Foo` model

### Steps to reproduce

Just press the `c

[2022-10-31 18:54] #4768 closed, assigned to nobody

[2022-10-31 19:57] danharrin commented on #4767
We need a repository, not just a code example. Setting up models, migrations, seeding the database takes a while. We have many other issues to look at. So if you'd like us to address this issue, follow the instructions.

[2022-10-31 20:14] maksakoviliya commented on #1355
@HeJiaNong @hsul4n  Did you found a solution?

[2022-11-01 18:13] buzkall commented on #4620
I've tested it with the latest version of Filament and Opera and Firefox browsers.
I've recorded a video showing it with slow 3G preset in the browser -> https://www.loom.com/share/5279064462c7409391a5bf3ca4fa1905
I lose the selection but now it gets saved (?)

Also, @awcodes the select has options, but no preload call. Having options means I'm preloading? in which other way can I add the options

[2022-11-01 18:51] awcodes commented on #4620
In your demo repo your Select field has ->preload() if you remove that you'll see that it only makes one call.

[2022-11-01 19:28] buzkall commented on #4620
But it's another select, the tag's one, not the repeater one.
So if any component of the resource has a preload, I'll get this behaviour?

[2022-11-01 20:41] awcodes commented on #4620
AFAIK, yes. the whole page is run through Livewire. Fields themselves are not livewire components. So every field get's dom diffed with each Livewire request.

[2022-11-01 21:19] awcodes commented on #4620
I do expect this behavior to be improved with Livewire v3 since we'll be able to batch requests.

[2022-11-01 22:24] lucacri opened #4785 "Tailwind error when trying to use a custom the theme"
### Package

filament/forms

### Package Version

v2.16.37

### Laravel Version

9.37.0

### Livewire Version

v2.10.7

### PHP Version

8.1

### Problem description

I'm trying to use Vite with Tailwind to extend the base CSS file as described in the docs ( https://filamentphp.com/docs/2.x/admin/appearance#building-themes ).

Folliwing the instructions to the letter, I receive the following error

[2022-11-01 22:25] lucacri commented on #4785
This requirement of a repository is.. a lot. I'll make one soon

[2022-11-02 09:26] ricventu opened #4789 "table column searchable with custom query does not set isFirst to false"
### Package

filament/tables

### Package Version

v2.16.37

### Laravel Version

v9.38.0

### Livewire Version

_No response_

### PHP Version

PHP 8.1

### Problem description

In Resources table method, if the first column is defined as searchable with a custom query, the following searchable columns are not added with or but with and.

### Expected behavior

if the first column is defined as s

[2022-11-02 09:32] danharrin commented on #4177
Completed now, it will be available in v3 :)

[2022-11-02 09:32] #4177 closed

[2022-11-02 09:37] icaliman opened #4791 "Infinite loading on form with Select and FileUpload"
### Package

filament/forms

### Package Version

v2.16.37

### Laravel Version

v9.38.0

### Livewire Version

v2.10.7

### PHP Version

PHP 8.1.12

### Problem description

When creating a form with `Select` and `FileUpload` components, it will infinitely request to server

This issue appears only if using `Select` and `FileUpload` components together.

![filament-bug](https://user-images.github

[2022-11-02 09:38] danharrin commented on #4789
Fixed by #4790

[2022-11-02 09:38] #4789 closed, assigned to nobody

[2022-11-02 09:53] icaliman commented on #4791
Issue disappeared without storing the original file names:

[code]

[code]

[2022-11-02 18:06] greatislander opened #4794 "Tables have some accessibility issues"
### Package

filament/tables

### Package Version

v2.16.37

### Laravel Version

v9.37

### Livewire Version

v2.10.7

### PHP Version

8.1

### Problem description

I've observed two significant issues with the admin tables that make them very difficult to use for a screen reader user (and not WCAG compliant).

 1. The bulk action checkboxes do not have an accessible label.
 2. The sort buttons

[2022-11-02 18:07] greatislander commented on #4794
P.S. I would be happy to contribute PRs for both of these issues.

[2022-11-02 18:07] #4207 closed

[2022-11-02 19:46] danharrin commented on #4794
PRs would be great, thanks!

[2022-11-02 19:46] danharrin commented on #4794
Please ensure that any labels are also added as translatable

[2022-11-02 22:12] Ashk2a commented on #4748
I close the issue, the linked PR has been merge https://github.com/filamentphp/filament/pull/4749

[2022-11-02 22:12] #4748 closed, assigned to nobody

[2022-11-02 23:02] awcodes commented on #3710
I think this will automatically be resolved in v3 with the new asset manager.

For v2 it was fixed but reverted because it broke a lot of plugins and it was easier to revert than make all the plugins update accordingly.

[2022-11-02 23:04] danharrin commented on #3710
Alright cool! Thanks.

[2022-11-02 23:04] #3710 closed

[2022-11-03 08:56] rossjump24 commented on #4613
It started working again, not sure how to reproduce it now sorry

[2022-11-03 08:56] #4613 closed, assigned to nobody

[2022-11-03 09:44] danharrin commented on #4713
The record should be null, because it doesnt exist yet. Maybe you're looking for `$livewire->ownerRecord`?

[2022-11-03 09:44] #4713 closed, assigned to nobody

[2022-11-03 10:14] danharrin commented on #4785
I just downloaded your repo

`composer install && npm i`
`npm run build`

No errors. #4454 didnt change module.esm.css, and that is a compiled file anyway.

[2022-11-03 10:14] #4785 closed, assigned to nobody

[2022-11-03 10:16] danharrin commented on #4614
Yeah, I feel like this is likely a Chrome bug rather than anything we can fix?

[2022-11-03 10:16] #4614 closed, assigned to nobody

[2022-11-03 10:17] danharrin commented on #4107
Yeah I can't reproduce this, and that S3 config works for my other projects

[2022-11-03 10:17] #4107 closed

[2022-11-03 10:53] zepfietje commented on #4614
Agree, this is likely an issue with Chart.js/Chromium.

[2022-11-03 11:28] zhuoyr opened #4806 "Uncaught TypeError: Cannot read properties of null (reading '__livewire')"
### Package

filament/filament

### Package Version

^2.0

### Laravel Version

^9.19

### Livewire Version

v2.10.7

### PHP Version

^8.0.2

### Problem description

![1](https://user-images.githubusercontent.com/537901/199708642-cc12ea60-f7fd-432e-8783-59a60de3e6a8.png)
![2](https://user-images.githubusercontent.com/537901/199708660-d96d60d7-3bab-4f7c-95cf-ed38233ed088.png)
![3](https://user-im

[2022-11-03 11:29] #4806 closed, assigned to nobody

[2022-11-03 11:48] zhuoyr opened #4807 "Uncaught TypeError: Cannot read properties of null (reading '__livewire') [repost]"
### Package

filament/filament

### Package Version

^2.0

### Laravel Version

^9.19

### Livewire Version

v2.10.7

### PHP Version

^8.0.2

### Problem description

my repo:
https://github.com/zhuoyr/filamentphp-demo-mini
or just use official demo:
https://demo.filamentphp.com/blog/categories

![1](https://user-images.githubusercontent.com/537901/199711317-e94f1f1a-e284-4a87-9a06-c96ae184126d.p

[2022-11-03 12:02] loanbesson commented on #4713
Thanks for your feedback.

It's just that it was hidden deep in the doc in "RelationManager" which was not my case at all...

[2022-11-03 12:24] danharrin commented on #4807
Does #4764 fix this?

[2022-11-03 14:31] zhuoyr commented on #4807
Yes. nice!

[2022-11-03 14:32] lucacri commented on #4785
Sorry, the problem was with the fact that I was trying to customize the tailwind css but with multiple vite configurations.

The only way I could make this work was to change the filament.css to:

[code]

Basically I had to import some of the contents of the vendor css (the two tippy lines), and then add the `@tailwind` section at the end.

In this way, it creates a full and correct css.

[2022-11-03 14:32] danharrin commented on #4645
Does #4764 fix this?

[2022-11-03 14:32] danharrin commented on #4131
Does #4764 fix this?

[2022-11-03 14:32] danharrin commented on #3906
Does #4764 fix this?

[2022-11-03 14:38] awcodes commented on #4645
In the table actions yes. Have not tried with page actions but I believe they need to updated too.

[2022-11-03 14:40] awcodes commented on #4131
Yea. I think this is the same issue as the color picker issue.

[2022-11-03 14:58] danharrin commented on #4645
Page actions aren't keyed by the record already so I think its fine

[2022-11-03 15:31] G3z commented on #4645
just tested with `"filament/filament": "2.x-dev",` and it's fixed

[2022-11-03 15:31] #4645 closed, assigned to nobody

[2022-11-03 15:33] G3z commented on #4645
I missed the release: 2.16.39 fixed the issue

[2022-11-03 15:34] #4131 closed

[2022-11-03 15:45] #4518 closed, assigned to nobody

[2022-11-03 15:45] danharrin commented on #4518
Fixed by #4816.

[2022-11-03 16:41] tf-kwon opened #4817 "DateTimePicker is not localized to Japanese"
### Package

filament/forms

### Package Version

v2.16.37

### Laravel Version

v9.37.0

### Livewire Version

v2.10.7

### PHP Version

PHP 8.1.9

### Problem description

maybe need to change the Japanese locale key in locales to **_ja_** instead of **_js_**.

File: packages/filament/forms/resources/js/components/date-time-picker.js

const locales = {
    ...
    **js: require("dayjs/locale/ja"

[2022-11-03 16:47] #4817 closed, assigned to nobody

[2022-11-03 17:02] danharrin commented on #4817
Can you submit a PR please, if you're not going to provide a reproduction?

[2022-11-03 17:40] howdu opened #4820 "disablePlaceholderSelection with required"
### Package

filament/forms

### Package Version

v2.16.37

### Laravel Version

v9.38.0

### Livewire Version

_No response_

### PHP Version

8.1

### Problem description

The default valudate doesn't pass validation, you're required to change the select option.

### Expected behavior

Click save

### Steps to reproduce

[code]

### Reproduction repository

https://github.com/howdu/filament/

##

[2022-11-03 17:50] joaovdiasb commented on #3906
still not for what i'm doing

Steps:
1. View some relation manager
2. Close
3. Edit another

[2022-11-03 17:57] danharrin commented on #4820
Set a `default()`. Also make some effort when submitting an issue, provide an actual reproduction repo, not a fork of Filament.

[2022-11-03 17:57] #4820 closed, assigned to nobody

[2022-11-04 04:03] zhuoyr commented on #4807
New issue discovered via #4764: same record, different actions will have errors
![1](https://user-images.githubusercontent.com/537901/199883055-f5772b75-9d15-4e87-b2b2-18731b83ce8a.jpg)

[2022-11-04 13:12] bokoch commented on #4131
Yes, I just checked it, and it is working well now, thanks.

[2022-11-04 15:35] G3z opened #4832 "FileUpload triggers a re-render of the form"
### Package

filament/forms

### Package Version

v2.16.39

### Laravel Version

v9.38.0

### Livewire Version

_No response_

### PHP Version

8.1.11

### Problem description

when rendering a Livewire component with form with a `FileUpload` a call to `getUploadedFileUrls` is sent and this triggers a second rendering of the component

### Expected behavior

I did not expect a second rendering, I'

[2022-11-04 20:44] #4832 closed, assigned to nobody

[2022-11-04 20:44] danharrin commented on #4832
Fixed by #4835

[2022-11-05 11:27] tangjh opened #4841 "SelectFilter for Resource Table is running SQL query 20 times!"
### Package

filament/filament

### Package Version

2.16.40

### Laravel Version

v9.3.10

### Livewire Version

2.10.7

### PHP Version

8.1

### Problem description

SelectFilter for Resource Table is running SQL query 20 times!
UserResource.php line 39.

### Expected behavior

Query should only run once.

### Steps to reproduce

Get the repo and click on User in the menu.  Check the number of

[2022-11-05 11:48] danharrin commented on #4088
This has now been fixed in v3, but only for non-images. Images still download since they get previewed.

[2022-11-05 11:48] #4088 closed

[2022-11-05 15:28] awcodes commented on #4841
Batch your options in your filter by wrapping them in a function.
[code]

[2022-11-05 15:35] awcodes commented on #4841
Closing as this in not a bug in Filament.

[2022-11-05 15:35] #4841 closed, assigned to nobody

[2022-11-05 15:37] awcodes commented on #4807
This is a known dom diffing issue at the field level.

We're working on the best way to resolve this.

Thank you for reporting.

[2022-11-06 11:12] modrictin opened #4856 "Multiselect opening on Mousedown event when in x-filament::modal"
### Package

filament/forms

### Package Version

2.16.41

### Laravel Version

9.38

### Livewire Version

 v2.10.7

### PHP Version

8.0

### Problem description

The problem occurs when I put select multiple inputs inside the filament modal.

![image](https://user-images.githubusercontent.com/31577031/200167248-3013b29c-d657-4407-9f64-6a08179b2392.png)

![image](https://user-images.githubuserco

[2022-11-06 11:13] #4856 closed, assigned to nobody

[2022-11-06 14:18] Pen-y-Fan commented on #4794
I also spotted the accessibility issues when testing to WCAG 2.1 AA standard. I will hold off raising a PR until the OP @greatislander has finished this PR.

I can confirm the issue using the OP's **Reproduction repository**, then run Google Chrome's lighthouse report, set to test accessibility.  See [admin-users-table.pdf](https://github.com/filamentphp/filament/files/9945941/admin-users-table.pd

[2022-11-07 13:23] erikbml opened #4864 "Multiple checkboxes get squashed into one value in the update content on create"
### Package

filament/filament

### Package Version

v2.16.41

### Laravel Version

v.9.38.0

### Livewire Version

_No response_

### PHP Version

PHP 8.0.22

### Problem description

I have a custom field, in which I have a group of checkboxes. When this field is used in the CREATE logic, filament only submits the last of the checked checkbox values as a string. When this field is in the EDIT lo

[2022-11-07 14:37] danharrin commented on #4864
I bet that you just need `default([])` like we have on our own CheckboxList component: https://github.com/filamentphp/filament/blob/2.x/packages/forms/src/Components/CheckboxList.php#L28

We don't really debug issues with specific custom fields here as they aren't really bugs in Filament, you're best asking in GitHub discussions.

[2022-11-07 14:37] #4864 closed, assigned to nobody

[2022-11-08 15:06] bobwurtz opened #4872 "Unable to Redirect to Routes in Custom Error Handling"
### Package

filament/filament

### Package Version

v2.16.41

### Laravel Version

v9.38.0

### Livewire Version

_No response_

### PHP Version

PHP 8.1.6

### Problem description

A blank, white page was displayed when trying to redirect to a Filament page after an exception was thrown.

### Expected behavior

It should have redirected to the dashboard.

### Steps to reproduce

Create a new Lar

[2022-11-09 15:00] twaydevelopment commented on #4131
When creating a new record and then opening a record from the table (once), there is still an error

If you just open the created records, everything is fine
![image](https://user-images.githubusercontent.com/84721502/200864123-657a48fd-2a60-463d-915a-da36d8d47852.png)

[2022-11-09 15:34] awcodes commented on #4131
We are working on this at the moment and hope to have a solution soon.

[2022-11-09 16:24] danharrin commented on #4872
How do you suggest we fix this? Seems like a Livewire limitation rather than anything to do with us.

[2022-11-09 16:26] danharrin commented on #4131
Please check again in the latest release

[2022-11-09 16:26] danharrin commented on #4807
Please check again in the latest release

[2022-11-09 16:26] #4807 closed, assigned to nobody

[2022-11-09 16:27] danharrin commented on #3906
Please check again in the latest release

[2022-11-09 16:27] #3906 closed

[2022-11-09 21:00] zepfietje opened #4883 "Modal slide-over enter animation not working"
### Package

filament/filament

### Package Version

v2.16.42

### Laravel Version

v9.39.0

### Livewire Version

_No response_

### PHP Version

PHP 8.1.0

### Problem description

Modal slide-over enter animation only fades in opacity.

### Expected behavior

Modal should slide in from the right.

### Steps to reproduce

Create a slide-over table action.

### Reproduction repository

https://gi

[2022-11-10 06:25] twaydevelopment commented on #4131
yes it's working now

[2022-11-10 11:51] AAbosham opened #4888 "Nested modal not working"
### Package

Other

### Package Version

v2.16.42

### Laravel Version

v8.0

### Livewire Version

v2.0

### PHP Version

PHP 8.1.0

### Problem description

Nested modal not working after this [commit](https://github.com/filamentphp/filament/commit/61a7ae0b4dc03f2046dcd76432995bb9ef9b5a12)

### v2.16.42 modal not working

![image](https://user-images.githubusercontent.com/12083600/201082983-cb17

[2022-11-10 12:12] danharrin commented on #4888
How do we reproduce this in the reproduction repo? Looks like you've just cloned the demo.

[2022-11-10 12:13] danharrin commented on #4888
If we don't have code & instructions to reproduce this with, the issue will be closed

[2022-11-10 12:35] AAbosham commented on #4888
I only add this action on PostResource

[code]

![Screenshot 2022-11-10 at 15-31-56 Posts - Filament Demo](https://user-images.githubusercontent.com/12083600/201093015-a866ed17-e59c-4e71-b9d3-c2b7ca79e4c9.png)

![Screenshot 2022-11-10 at 15-32-54 Posts - Filament Demo](https://user-images.githubusercontent.com/12083600/201093033-ccea6b1e-78c4-407b-8fd3-4b94549f022e.png)

[2022-11-10 17:24] bobwurtz commented on #4872
@danharrin I'm not sure how to fix it (or what is causing it). Since Filament can redirect correctly to the login page but not to a resource page I assumed this was a Filament issue. How is it a Livewire issue?

[2022-11-10 17:49] joaovdiasb commented on #3906
Its fixed now, thanks!

[2022-11-10 18:29] danharrin commented on #4872
Because Livewire binds its own Redirector to the container when a component is rendered, and then an exception is thrown from Livewire. Inside the exception hander it is expecting a different redirector instance. I think.

Login redirects are done in middleware, before the Livewire Redirector is bound.

[2022-11-10 18:29] #4872 closed, assigned to nobody

[2022-11-11 07:26] ManojKiranA opened #4900 "`Tables\Actions\CreateAction` creates a record in DB instaed of opening a Modal"
### Package

filament/filament

### Package Version

v2.16.45

### Laravel Version

9.39.0

### Livewire Version

v2.10.7

### PHP Version

PHP 8.1.10

### Problem description

When I add `Tables\Actions\CreateAction` in the header actions of table and click on the button to open a `Modal (form)` for creating a record it is trying to add entry into database instead of opening a model.

### Expecte

[2022-11-11 07:37] danharrin commented on #4900
Pass in the `->form()`

[2022-11-11 07:37] #4900 closed, assigned to nobody

[2022-11-11 12:25] ManojKiranA commented on #4900
How come this works properly on relation manager header actions but no in mamage records

[2022-11-11 13:01] danharrin commented on #4900
Because we explicitly pass the form to certain actions that we pre-define, the rest you do yourself. The table actions arent aware that the resource even exists unless we tell them.

[2022-11-12 03:00] ManojKiranA commented on #4900
So you are telling me that if I move the form schema from resource to `ManageRecord` class that will works just fine. Is that what you are trying to tell

[2022-11-12 10:08] danharrin commented on #4900
if you use a Create page action instead of a Create table action in the reccomended place then it works out of the box

but we havent anticipated that people use a table action for this outside of the relation manager. so the relation manager is the only class that automatically passes the form to the Create action at the moment.

for example, this is how we pass the form to the edit action on the